/**** Admin Styles ****/

h1, h2, h3, h4, h5, h6, p {
	opacity: 1; //overrides fade in elements
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; //overrides theme fonts within admin
}
//Styles for grid, row and column within editor

.wp-block {
	max-width: none;
}

.wp-block-flexls-row {
	border: 2px dashed silver;
	max-width: $siteWidth;
	margin-left: auto;
	margin-right: auto;

	.wp-block[data-align=full] & {
		max-width: none;
		border: 2px dashed gold;
	}

	.editor-inner-blocks {
		width: 100%;
	}

	.editor-block-list__layout {
		display: flex;
	    flex-flow: row wrap;
	    align-content: flex-start;
	    margin: 0;
	}
	
	.wp-block {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}
}

.wp-block-flexls-column {
	border: 2px dotted cornflowerblue;
	max-width: none;
	margin-left: auto;
	margin-right: auto;

	.editor-block-list__layout {
		display: block;
	}
}

.wp-admin {
	.pure-g {
		height: 100%;
	}
}

.components-panel__row {
	display: block;
}

//Misc styling for elements
.components-range-control .components-base-control__label {
	max-width: none;
}

.block-editor .component-source .editor-plain-text {
	padding: $gap*.5;
	font-family: Courier;
	min-height: 100px;
}

.wp-core-ui .button, 
.wp-core-ui .button-primary, 
.wp-core-ui .button-secondary {
	min-height: 0;
}

.wp-core-ui .button {
	border: 1px solid $borderColor;
}

