/**** Colors ****/

// Default Colors
$modalColor: #ffffff;
$popupColor: rgba(0, 0, 0, .7);
$defaultTextColor: var(--color-text-primary);
$borderColor: #DFDFDF;
$white: #FFFFFF;
$black: #000000;


// Colors
$brand-color-key: 'red' !default;
$brand-colors: (
	'debug': (
		'red': #f00
	),
	'text': (
		'primary': var(--color-text-primary),
		'secondary': var(--color-text-secondary),
		'tertiary': var(--color-text-tertiary),
		'white':	var(--color-text-white),
		'black':	var(--color-text-black),
	),

	'background': (
		'primary': var(--color-background-primary),
		'secondary': var(--color-background-secondary),
		'tertiary': var(--color-background-tertiary),
	),

	'social':(
		'facebook': #3b5998,
		'twitter': #1da1f2
	),
	'gradients': (
	)
);

/** Generate colors **/
// Usage: color('key', 'variant');
@function color($key: 'debug', $variant: $brand-color-key) {
	$color: null;
	$color-spectrum: map-get($brand-colors, $key);

	@if $color-spectrum {
		$color: map-get($color-spectrum, $variant);
	}

	@return $color;
}

/** Mixin for placeholder color **/
@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: $color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}
}

/**** Color classes ****/
// Use dynamically generated color classes as follows:
//
// Classes:
//
// 		.background-key-variant
// 		.color-color-key-variant
//
// For example:
//
// 		.background-accent-blue
// 		.color-accent-blue
//

@each $key, $map in $brand-colors {
	@each $variant, $color in $map {
		.has-#{$key}-#{$variant}-background-color {
			background-color: #{$color};
		}

		.has-#{$key}-#{$variant}-color {
			color: #{$color};
		}

		.component-theme-#{$key}-#{$variant} {
			background: #{$color};
		}

		.color-#{$key}-#{$variant} {
			color: #{$color};
		}
	}
}
