/**** Colors ****/

// Default Colors
$modalColor: #ffffff;
$popupColor: rgba(0, 0, 0, .7);
$defaultTextColor: #000000;
$borderColor: #dddddd;
$white: #FFFFFF;
$black: #000000;


// Colors
$brand-color-key: 'red' !default;
$brand-colors: (
	'debug': (
		'red': #f00
	),
	'primary': (
		'color-1': var(--primary-color-1, #2F2F2F),
		'color-1-hover': var(--primary-color-1-hover, #7D7D7D),
	),
	'secondary':(
		'color-1': var(--secondary-color-1, #FFFFFF),
		'color-1-hover': var(--secondary-color-1-hover, #E7E7E7),
		'color-2': var(--secondary-color-2, #F5F5F5),
		'color-2-hover': var(--secondary-color-2-hover, #D9D9D9),
	),
	'background': (
		'color-1': var(--background-color-1, #2F2F2F),
		'color-2': var(--background-color-2, #FFFFFF),
		'color-3': var(--background-color-3, #F5F5F5),
	),
	'text': (
		'color-1': var(--text-color-1, #2F2F2F),
		'color-1-hover': var(--text-color-1-hover, #7D7D7D),
		'color-2': var(--text-color-2, #FFFFFF),
		'color-2-hover': var(--text-color-2-hover, #CDCDCD),
		'color-3': var(--text-color-3, #7D7D7D),
		'color-3-hover': var(--text-color-3-hover, #C1C1C1),
	),
	'social':(
		'facebook': #3b5998,
		'twitter': #1da1f2
	),
	'gradients': (
	)
);

/** Generate colors **/
// Usage: color('key', 'variant');
@function color($key: 'debug', $variant: $brand-color-key) {
	$color: null;
	$color-spectrum: map-get($brand-colors, $key);

	@if $color-spectrum {
		$color: map-get($color-spectrum, $variant);
	}

	@return $color;
}

/** Mixin for placeholder color **/
@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: $color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}
}

/**** Color classes ****/
// Use dynamically generated color classes as follows:
//
// Classes:
//
// 		.background-key-variant
// 		.color-color-key-variant
//
// For example:
//
// 		.background-accent-blue
// 		.color-accent-blue
//

@each $key, $map in $brand-colors {
	@each $variant, $color in $map {
		.has-#{$key}-#{$variant}-background-color {
			background-color: #{$color};
		}

		.has-#{$key}-#{$variant}-color {
			color: #{$color};
		}
	}
}
