/**** Color classes ****/
// Set colors in _colors.scss. This file is included AFTER the typography for proper inheritance

// Use dynamically generated color classes as follows:
//
// Classes:
//
// 		.background-key-variant
// 		.color-color-key-variant
//
// For example:
//
// 		.background-accent-blue
// 		.color-accent-blue
//

@each $key, $map in $brand-colors {
	@each $variant, $color in $map {
		.component-theme-#{$key}-#{$variant} {
			background: #{$color};
		}

		.body-theme-#{$key}-#{$variant} {
			background: #{$color};
		}

		.color-#{$key}-#{$variant} {
			color: #{$color};
		}

		.row-text-white, .row-text-black {
			.color-#{$key}-#{$variant} {
				color: #{$color};
			}

			.background-#{$key}-#{$variant} {
				background-color: #{$color};
			}
		}
	}
}