// Component Settings
.component {
	width: 100%;
}

// Bottom align elements in a row
.component-row-verticalAlignment-bottom,
.component-row-verticalAlignment-bottom .editor-block-list__layout {
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	height: 100%;
}

// Center align elements in a row
.component-row-verticalAlignment-center, 
.component-row-verticalAlignment-center .editor-block-list__layout {
	display: flex;
	align-items: center;
	align-content: center;
	height: 100%;
}

// Stretch elements in a row
.component-row-verticalAlignment-stretch, 
.component-row-verticalAlignment-stretch .editor-block-list__layout {
	align-items: stretch;
	display: flex;
	height: 100%;
}

// Top align elements in a row
.component-row-verticalAlignment-top, 
.component-row-verticalAlignment-top .editor-block-list__layout {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
}

.component-column {
	&.column-align-left.column-align-left {
		// Left is the default so leave this alone.
		// display: block !important;
		// margin-left: 0 !important;
		// margin-right: auto !important;
	}

	&.column-align-center.column-align-center {
		display: block;
		margin-left: auto;
		margin-right: auto;

		// display: flex;
		// justify-content: center;
	}

	&.column-align-right.column-align-right {
		display: block;
		margin-left: auto;
		margin-right: 0;

		// This messes with normal column layout settings
		// display: flex;
		// justify-content: right;
	}

	&.component-column-verticalAlignment-bottom.component-column-verticalAlignment-bottom {
		// align-items: flex-end;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&.component-column-verticalAlignment-center.component-column-verticalAlignment-center {
		// align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&.component-column-verticalAlignment-top.component-column-verticalAlignment-top {
		// This is the default, so don't set anything or it 
		// will override other FLEX row/column layout settings
		// align-items: flex-start;
		// display: flex;
	}
}

.component-image-background, 
.component-color-background, 
.component-video-background {
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
	min-height: 100%;
}

.component-image-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&.component-image-background-wide {
		&:before {
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center center;
			bottom: -100%;
			left: 0;
			position: absolute;
			right: 0;
			top: -100%;
		}
	}
}

.component-row {
	height: auto;
	position: relative;
	width: 100%;
	z-index: 2;

	@include mediaquery-max-width(tablet-portrait) {
		// reverse media query to avoid extra css
		&.component-row-reverse-mobile {
			.flex-grid {
				display: flex;
				flex-direction: column-reverse;
				flex-wrap: inherit;
				
				&:after {
					display: none;
				}
			}
		}
	}

	&.zindexTop {
		z-index: 1000;
	}
}

// Applys same standard page-width constraints for non FLEX layouts
.body-padding {
	max-width: $siteWidth;
	padding-left: 20px;
	padding-right: 20px;

	@include mediaquery(desktop)  {
		max-width: inherit;
		padding: 0;
	}
}

// Row block in 2 widths
.component-row-wide {
	margin: 0 auto;
	max-width: $siteWidth;
	padding: 0 20px;
	position: relative;
	width: 100%;

	@include mediaquery(desktop)  {
		padding: 0;
	}
}

// Remove padding on a row without making it full bleed
@include mediaquery-max-width(desktop) {
	// reverse media query to avoid extra css
	.component-row-no-padding {
		.component-row-wide {
			padding: 0;
		}
	}
}

.component-row-full {
	margin: 0 auto;
	max-width: none;
	position: relative;
	width: 100%;
	height: 100%;
}

// Fixed row heights
.component-row-height-none {
	height: 100%;
}

.component-row-height-small {
	height: $small-row-mobile;
	overflow: hidden;

	@include mediaquery(tablet-portrait)  {
		height: $small-row;

	}

	.wp-admin & {
		min-height: $small-row-mobile;
		height: auto;

		@include mediaquery(tablet-portrait)  {
			min-height: $small-row;
			height: auto;

		}
	}
}

.component-row-height-medium {
	height: $medium-row-mobile;
	overflow: hidden;

	@include mediaquery(tablet-portrait)  {
		height: $medium-row;

	}

	.wp-admin & {
		min-height: $medium-row-mobile;
		height: auto;

		@include mediaquery(tablet-portrait)  {
			min-height: $medium-row;
			height: auto;

		}
	}
}

.component-row-height-large {
	height: $large-row-mobile;
	overflow: hidden;

	@include mediaquery(tablet-portrait)  {
		height: $large-row;

	}

	.wp-admin & {
		min-height: $large-row-mobile;
		height: auto;

		@include mediaquery(tablet-portrait)  {
			min-height: $large-row;
			height: auto;
		}
	}
}

.component-row-height-full-height {
	height: 100vh;
	overflow: hidden;

	.component-row {
		height: 100%;
	}
}

.component-video-background {
	// Otherwise box-shadows get cut off
	// overflow: hidden;
	overflow: visible;
	position: relative;

	.video-container {
		height: 100%;
		position: absolute;
		z-index: -1;
	}

	&.align-video-right {
		.video-container {
			right: 0;
		}
	}

	&.video-width-50 { .video-container { width: 50%; } }
	&.video-width-60 { .video-container { width: 60%; } }
	&.video-width-70 { .video-container { width: 70%; } }
	&.video-width-80 { .video-container { width: 80%; } }
	&.video-width-90 { .video-container { width: 90%; } }
	&.video-width-100 { .video-container { width: 100%; } }

	&.full-video-container {
		.video-container {
			left: 50%;
			min-height: 100%;
			min-width: 100%;
			object-fit: cover;
			object-position: center center;
			opacity: 0;
			transform: translate(-50%, -50%);
			top: 50%;
			width: 100%;
		}
	}
	
	.video-thumbnail-wrapper {
		height: 100%;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		opacity: 1;
		transition: opacity .1s ease-in, z-index .1s ease-in;

		img {
			height: 100%;
			left: 50%;
			min-height: 100%;
			min-width: 100%;
			object-fit: cover;
			object-position: center center;
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			width: 100%;
		}
	}

	.playingVideo {
		.video-thumbnail-wrapper {
			opacity: 0;
			z-index: -2;
		}

		.video-container {
			opacity: 1;
		}
	}
}
