/**** Component Settings ****/

.component {
	height: 100%;
	width: 100%;
}

//bottom align elements in a row
.component-alignment-bottom, .component-alignment-bottom .editor-block-list__layout {
	display: flex;
	align-items: flex-end;
}

//center align elements in a row
.component-alignment-center, .component-alignment-center .editor-block-list__layout {
	display: flex;
	align-items: center;
}

//stretch elements in a row
.component-alignment-stretch, .component-alignment-stretch .editor-block-list__layout {
	display: flex;
	align-items: stretch;
}

//top align elements in a row
.component-alignment-top, .component-alignment-top .editor-block-list__layout {
	display: flex;
	align-items: flex-start;
}


//component row settings
.component-row {
	height: auto;
	position: relative;
	width: 100%;
	height: 100%;
}


.component-row {
	z-index: 2;

	@include mediaquery-max(medium) {
		// reverse media query to avoid extra css
		.component-row-reverse-mobile {
			display: flex;
			flex-direction: column-reverse;
			
			&:after {
				display: none;
			}
		}
	}

	&.zindexTop {
		z-index: 100000;
	}
}

.component-column {
	padding: 0 $gap;
}

// Row block in 2 widths
.component-row-wide {
	margin: 0 auto;
	max-width: $siteWidth;
	position: relative;
	width: 100%;
	height: 100%;
}

.component-row-full {
	margin: 0 auto;
	max-width: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.component-row-height-none {
	height: 100%;
}

.component-row-height-small {
	height: 150px;
	overflow: hidden;

	@include mediaquery(medium) {
		height: 300px;
	}
}

.component-row-height-medium {
	height: 300px;
	overflow: hidden;

	@include mediaquery(medium) {
		height: 500px;
	}
}

.component-row-height-large {
	height: 100vh;
	overflow: hidden;

	@include mediaquery(medium) {
		height: 700px;
	}
}

.component-row-height-full-height {
	height: 100vh;
	overflow: hidden;
}