/**** Component Settings ****/

.component {
	height: 100%;
	width: 100%;
}

//bottom align elements in a row
.component-alignment-bottom {
	display: flex;
	align-items: flex-end;
}

//center align elements in a row
.component-alignment-center {
	display: flex;
	align-items: center;
}

//stretch elements in a row
.component-alignment-stretch {
	display: flex;
	align-items: stretch;
}

//top align elements in a row
.component-alignment-top {
	display: flex;
	align-items: flex-start;
}

//top align elements in a row
.component-alignment-bottom {
	display: flex;
	align-items: flex-end;
}

//component row settings
.component-row {
	height: auto;
	position: relative;
	width: 100%;
	height: 100%;
}

.component-row {
	z-index: 2;

	@include mediaquery-max(medium) {
		// reverse media query to avoid extra css
		.component-row-reverse-mobile {
			display: flex;
			flex-direction: column-reverse;
			
			&:after {
				display: none;
			}
		}
	}

	&.zindexTop {
		z-index: 100000;
	}
}

// Row block in 2 widths
.component-row-wide {
	margin: 0 auto;
	max-width: $siteWidth;
	position: relative;
	width: 100%;
}

.component-row-full {
	margin: 0 auto;
	max-width: none;
	position: relative;
	width: 100%;
}

