// Allows JS to access CSS breakpoints
.breakpoint {
	color: black;
	display: none;
	height: 20px;
	padding: 10px 60px 10px 10px;
	position: fixed;
	right: 10px;
	text-align: left;
	top: 10px;
	width: 300px;
	z-index: 999999;
}

.breakpoint-current {
	display: none;
	font-size: 20px;
}

body {
	&.debug {
		* {
			// Blue to yellow diagonal gradient
			background: linear-gradient(160deg, rgba(0,0,255,0.21), rgba(255,255,0,0.21));
		}

		// Pink to blue diagonal gradient
		div {
			background: linear-gradient(160deg, rgba(255,0,255,0.21), rgba(0,0,255,0.21));
		}

		section {
			outline: dotted .25rem greenyellow;
			outline-offset: -.5rem;
		}

		.component[data-component-name] {
			background-color: rgba(0, 0, 0, .5);
			outline: dashed .25rem #ffd400;
			outline-offset: -.5rem;

			&:hover {
				background-color: transparent;
			}
		}
	}

	&.debug,
	&.showBreakpoints {
		.breakpoint {
			align-items: center;

			&:after {
				color: white;
				display: block;
				font-size: 0.7rem;
				font-weight: bold;
				letter-spacing: 0.3rem;
				position: relative;
				text-transform: uppercase;
				width: 100%;
			}

			&.phone {
				background: orange !important;

				&:after {
					content: 'breakpoint: phone';
				}

				@include mediaquery(phone)  {
					display: flex;
				}
			}

			&.phone-plus {
				background: #BADA55 !important;

				&:after {
					content: 'breakpoint: phone-plus';
				}

				@include mediaquery(phone-plus)  {
					display: flex;
				}
			}

			&.tablet-portrait {
				background: yellow !important;

				&:after {
					color: black;
					content: 'breakpoint: tablet-portrait';
				}

				@include mediaquery(tablet-portrait)  {
					display: flex;
				}
			}

			&.tablet-landscape {
				background: green !important;

				&:after {
					content: 'breakpoint: tablet-landscape';
				}

				@include mediaquery(tablet-landscape)  {
					display: flex;
				}
			}

			&.desktop {
				background: blue !important;

				&:after {
					content: 'breakpoint: desktop';
				}

				@include mediaquery(desktop)  {
					display: flex;
				}
			}

			&.xl {
				background: purple !important;

				&:after {
					content: 'breakpoint: xl';
				}

				@include mediaquery(xl) {
					display: flex;
				}
			}

			&.xl2 {
				background: black !important;

				&:after {
					content: 'breakpoint: xl2';
				}

				@include mediaquery(xl2) {
					display: flex;
				}
			}
		}
	}
}

svg:not(path):not(g) {
	color: hsla(210, 100%, 100%, 0.9) !important;
	background: hsla(210, 100%,  50%, 0.5) !important; 
	outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
}