// Allows JS to access CSS breakpoints
.breakpoint {
	display: none;
	height: 0;
	position: absolute;
	width: 0;
}

.breakpoint-current {
	font-size: 20px;
	display: none;
}

body.debug {
	border: 5px solid white;

	.breakpoint {
		width: 100%;
		padding: 10px;
	}

	@include mediaquery(small) {
		border-color: green;

		.breakpoint.small {
			display: block;
		}
	}

	@include mediaquery(tablet-portrait)  {
		border-color: blue;

		.breakpoint.medium {
			display: block;
		}
	}

	@include mediaquery(tablet-landscape)  {
		border-color: purple;

		.breakpoint.large {
			display: block;
		}
	}

	@include mediaquery(desktop)  {
		border-color: orange;

		.breakpoint.xl {
			display: block;
		}
	}

	@include mediaquery(2xl) {
		border-color: yellow;

		.breakpoint.2xl {
			display: block;
		}
	}

	@include mediaquery(3xl) {
		border-color: yellow;

		.breakpoint.2xl {
			display: block;
		}
	}

	@include mediaquery(4xl) {
		border-color: yellow;

		.breakpoint.2xl {
			display: block;
		}
	}

	@include mediaquery(5xl) {
		border-color: yellow;

		.breakpoint.2xl {
			display: block;
		}
	}
}
