/* Headings */
@mixin primary-light {
	font-family: $primaryLight;
	font-style: italic;
	font-weight: 300;
}

@mixin primary-light-italic {
	font-family: $primaryLightItalic;
	font-style: italic;
	font-weight: 300;
}

@mixin primary-regular {
	font-family: $primaryRegular;
	font-style: normal;
	font-weight: 400;
}

@mixin primary-regular-italic {
	font-family: $primaryRegularItalic;
	font-style: italic;
	font-weight: 400;
}

@mixin primary-medium {
	font-family: $primaryMedium;
	font-style: normal;
	font-weight: 500;
}

@mixin primary-medium-italic {
	font-family: $primaryMediumItalic;
	font-style: italic;
	font-weight: 500;
}

@mixin primary-semi {
	font-family: $primarySemi;
	font-style: normal;
	font-weight: 600;
}

@mixin primary-semi-italic {
	font-family: $primarySemiItalic;
	font-style: italic;
	font-weight: 600;
}

@mixin primary-bold {
	font-family: $primaryBold;
	font-style: normal;
	font-weight: 700;
}

@mixin primary-bold-italic {
	font-family: $primaryBoldItalic;
	font-style: italic;
	font-weight: 700;
}

@mixin secondary-light {
	font-family: $secondaryLight;
	font-style: normal;
	font-weight: 300;
}

/* Body copy */
@mixin secondary-light-italic {
	font-family: $secondaryLightItalic;
	font-style: italic;
	font-weight: 300;
}

@mixin secondary-regular {
	font-family: $secondaryRegular;
	font-style: normal;
	font-weight: 400;
}

@mixin secondary-regular-italic {
	font-family: $secondaryRegularItalic;
	font-style: italic;
	font-weight: 400;
}

@mixin secondary-medium {
	font-family: $secondaryMedium;
	font-style: normal;
	font-weight: 500;
}

@mixin secondary-medium-italic {
	font-family: $secondaryMediumItalic;
	font-style: italic;
	font-weight: 500;
}

@mixin secondary-semi {
	font-family: $secondarySemi;
	font-style: normal;
	font-weight: 600;
}

@mixin secondary-semi-italic {
	font-family: $secondarySemiItalic;
	font-style: italic;
	font-weight: 600;
}

@mixin secondary-bold {
	font-family: $secondaryBold;
	font-style: normal;
	font-weight: 700;
}

@mixin secondary-bold-italic {
	font-family: $secondaryBoldItalic;
	font-style: italic;
	font-weight: 700;
}

/* Subheadings */
@mixin tertiary-light {
	font-family: $tertiaryLight;
	font-style: normal;
	font-weight: 300;
}

@mixin tertiary-light-italic {
	font-family: $tertiaryLight;
	font-style: italic;
	font-weight: 300;
}

@mixin tertiary-regular {
	font-family: $tertiaryRegular;
	font-style: normal;
	font-weight: 300;
}

@mixin tertiary-regular-italic {
	font-family: $tertiaryRegular;
	font-style: normal;
	font-weight: 300;
}

@mixin tertiary-medium {
	font-family: $tertiaryMedium;
	font-style: normal;
	font-weight: 500;
}

@mixin tertiary-medium-italic {
	font-family: $tertiaryMediumItalic;
	font-style: italic;
	font-weight: 500;
}

@mixin tertiary-semi {
	font-family: $tertiarySemi;
	font-style: normal;
	font-weight: 600;
}

@mixin tertiary-semi-italic {
	font-family: $tertiarySemiItalic;
	font-style: italic;
	font-weight: 600;
}

@mixin tertiary-bold {
	font-family: $tertiaryBold;
	font-style: normal;
	font-weight: 700;
}

@mixin tertiary-bold-italic {
	font-family: $tertiaryBoldItalic;
	font-style: italic;
	font-weight: 700;
}

/* Eyebrows */
@mixin eyebrow-base {
	/* Override in child theme */
	text-transform: uppercase;
}

@mixin eyebrow-light {
	@include eyebrow-base;
	font-family: $eyebrowLight;
	font-style: italic;
	font-weight: 300;
}

@mixin eyebrow-light-italic {
	@include eyebrow-base;
	font-family: $eyebrowLight;
	font-style: italic;
	font-weight: 300;
}

@mixin eyebrow-regular {
	@include eyebrow-base;
	font-family: $eyebrowRegular;
	font-style: normal;
	font-weight: 300;
}

@mixin eyebrow-regular-italic {
	@include eyebrow-base;
	font-family: $eyebrowRegular;
	font-style: normal;
	font-weight: 300;
}

@mixin eyebrow-medium {
	@include eyebrow-base;
	font-family: $eyebrowMedium;
	font-style: normal;
	font-weight: 500;
}

@mixin eyebrow-medium-italic {
	@include eyebrow-base;
	font-family: $eyebrowMediumItalic;
	font-style: italic;
	font-weight: 500;
}

@mixin eyebrow-semi {
	@include eyebrow-base;
	font-family: $eyebrowSemi;
	font-style: normal;
	font-weight: 600;
}

@mixin eyebrow-semi-italic {
	@include eyebrow-base;
	font-family: $eyebrowSemiItalic;
	font-style: italic;
	font-weight: 600;
}

@mixin eyebrow-bold {
	@include eyebrow-base;
	font-family: $eyebrowBold;
	font-style: normal;
	font-weight: 700;
}

@mixin eyebrow-bold-italic {
	@include eyebrow-base;
	font-family: $eyebrowBoldItalic;
	font-style: italic;
	font-weight: 700;
}

@mixin eyebrow-small {
	@include eyebrow-base;
	font-family: $eyebrowLight;
	font-size: 0.8rem;
	font-weight: 100;
	letter-spacing: 0.05rem;
}

.eyebrow-bold {
	@include eyebrow-bold;
}

.eyebrow-bold-italic {
	@include eyebrow-bold-italic;
}

.eyebrow-small {
	@include eyebrow-small;
}