/**** Form global styles ****/



// WordPress Post Password Form
.post-password-form {
	width: 100%;
	height: 100%;
	background-color: white;
	padding-top: 64px;
	min-height: calc(100vh - 150px);
	display: flex;
	align-items: center;
	justify-content: center;

	input[type="password"] {
		border-bottom: 1px solid $borderColor;
		border-radius: 0;
		width: 100%;
		font-size: 11px;
		line-height: 1.3;
		height: 30px;
		margin-bottom: $gap;
		letter-spacing: -0.1px;
		@include sans-serif-regular;
		@include placeholder($black);

		@include mediaquery(large) {
			font-size: 16px;
			letter-spacing: -0.15px;
		}
	}

	input[type="submit"] {
		@extend .button;
		border: 0;
		display: inline-block;
		width: auto;
		margin-top: $gap*.5;
		height: 36px;

		@include mediaquery(xl) {
			&:hover {
				background: color('gradients', 'orange-horiz');
			}
		}
	}
}


//CF7 styles
.wpcf7-checkbox {
	@include mediaquery(tablet-portrait) {
		width: 50%;
	}

	.wpcf7-list-item-label {
		cursor: pointer;
		display: block;
		padding-left: $gap*2;
		position: relative;
		line-height: 1.4;
		@include sans-serif-bold;


		&:before {
			border-radius: 50%;
			border: 2px solid white;
			content: '';
			cursor: pointer;
			display: inline-block;
			height: $gap;
			left: 0;
			position: absolute;
			top: calc(50% - 15px);
			width: $gap;
		}

		@include mediaquery(xl) {
			&:hover:before {
				background-color: rgba(255, 255, 255, .5);
			}
		}
	}

	input[type="checkbox"] {
		display: none;

		&:checked + .wpcf7-list-item-label:before {
			background-color: white;
		}
	}

}

.screen-reader-response {
	display: none;
}


.subscribe-error {
	margin: $gap*.5 0;
}

.ajax-loader {
	display: none;
}

.wpcf7-form-control-wrap {
	display: block;
	margin-bottom: 0;
	position: relative;

}

.wpcf7-not-valid-tip {
	@extend .body;
	color: red;
	display: block;
	margin-top: $gap * .25;
	opacity: 1;
	text-transform: none;

	.deadline &, .budget & {
		position: absolute;
		top: 10px;
	}

	.row-text-white & {
		color: red;
	}
}

.wpcf7-response-output {
	@extend .body;
	color: red;
	clear: both;
	margin-top: $gap*2;
}

.wpcf7-mail-sent-ok {
}
