/**** Form global styles ****/
.post-password-form {
	width: 100%;
	height: 100%;
	background-color: white;
	padding-top: 64px;
	min-height: calc(100vh - 150px);
	@include verticalCenter;
	@include flexbox-justify-content(center);

	input[type="password"] {
		border-bottom: 1px solid color('standard', 'gray');
		border-radius: 0;
		width: 100%;
		font-size: 11px;
		line-height: 1.3;
		height: 30px;
		margin-bottom: $gap;
		letter-spacing: -0.1px;
		@include sans-serif-regular;
		@include placeholder($black);

		@include mediaquery(tablet-landscape) {
			font-size: 16px;
			letter-spacing: -0.15px;
		}
	}

	input[type="submit"] {
		@extend .button;
		border: 0;
		display: inline-block;
		width: auto;
		margin-top: $gap*.5;
		height: 36px;

		@include mediaquery(desktop) {
			&:hover {
				background: color('gradients', 'orange-horiz');
			}
		}
	}
}


/**** Contact Form & Download Gate ****/
.component-contact, .component-downloads, .page-subscription-center {
	.hbspt-form, .hubspot-form, .hs-form {
		background-color: $white;

		input, textarea {
			border-bottom: 1px solid color('standard', 'gray');
			border-radius: 0;
			width: 100%;
			font-size: 11px;
			line-height: 1.3;
			height: 30px;
			margin-bottom: $gap;
			letter-spacing: -0.1px;
			@include sans-serif-regular;
			@include placeholder($black);

			@include mediaquery(tablet-landscape) {
				font-size: 16px;
				letter-spacing: -0.15px;
			}
		}

		textarea {
			height: 30px;
			resize: none;

			&:focus {
				height: 100px;
			}
		}

		input[type="submit"] {
			@extend .button;
			border: 0;
			display: inline-block;
			width: auto;
			margin-top: $gap*.5;
			height: 36px;

			@include mediaquery(desktop) {
				&:hover {
					background: color('gradients', 'orange-horiz');
				}
			}
		}

		label {
			display: none;
		}

		.form-columns-1, .form-columns-2 {
			.input {
				margin-right: 0 !important;

				.hs-input {
					width: 100% !important;
				}
			}
		}

		.form-columns-1 {
			@include mediaquery(tablet-landscape) {
				&:nth-child(2), &:nth-child(4) {
					width: 48% !important;
					margin-right: 2%;
					float: left;
					clear: left;
				}

				&:nth-child(3) {
					width: 48% !important;
					margin-right: 0;
					margin-left: 2%;
					float: left;
				}

				&:nth-child(5) {
					clear: left;
				}
			}
		}


		.form-columns-2 {
			.hs-firstname {

				@include mediaquery(tablet-landscape) {
					width: 48% !important;
					margin-right: 2%;

				}
			}

			.hs-lastname {
				@include mediaquery(tablet-landscape) {
					width: 48% !important;
					margin-right: 0;
					margin-left: 2%;
				}
			}
		}

		.hs-email, .hs-company {
			@include mediaquery(tablet-landscape) {
				margin-top: $gap*.5;
			}
		}

		.hs-country {
			margin-bottom: $gap;

			select {
				display: block;
				font-size: 11px;
				line-height: 1.3;
				margin-bottom: $gap*.25;
				letter-spacing: -0.1px;

				@include mediaquery(tablet-landscape) {
					font-size: 16px;
					letter-spacing: -0.15px;
				}
			}
		}

		.hs-error-msgs {
			label {
				display: block;
				@extend .caption;
				color: red;
				margin: 0 0 8px 0;
			}
		}

		.hs-country  {
			.hs-error-msgs label {
				display: block;
				@extend .caption;
			}
		}

		.hs-submit {
			clear: left;
		}

		.hs-richtext p {
			@extend .caption;

			a {
				text-decoration: underline;
				opacity: 1;
				@include transition(opacity .4s ease-out);

				@include mediaquery(desktop) {
					&:hover {
						opacity: .4;
					}
				}
			}
		}

		.hs-form-checkbox {
			list-style-type: none;
			margin-left: 0;
			padding-left: 0;

			input[type="checkbox"] {
				display: block;
				width: 20px;
				height: 20px;
				vertical-align: -5px;
				float: left;
				margin-right: 5px;
			}

			label {
				@extend .caption;
				display: inline-block;

				span {

				}
			}
		}
	}
}

.page-subscription-center {
	.hs-fieldtype-checkbox {
		> label {
			@extend .headline4;
			display: block;
			margin-bottom: $gap*.5;
		}

		ul {
			margin-left: 0;
			margin-bottom: $gap*1.5;

			input {
				margin-bottom: 0;
			}
		}

	}
	
	.hs-richtext {
		margin-bottom: $gap;
	}
}

/**** Newsletter Form ****/

.newsletter {
	.hbspt-form {
		background-color: transparent;
		
		input[type="email"] {
			background-color: $white;
			border: 0;
			border-radius: 0;
			width: 100%;
			color: $black;
			font-size: 12px;
			letter-spacing: -0.7px;
			height: 44px;
			padding: $gap*.75 $gap*.5;
			@include placeholder($black);
			@include sans-serif-mono;
		}

		input[type="submit"] {
			background-color: color('standard', 'gray');
			border: 0;
			border-radius: 0;
			width: 100%;
			color: $black;
			font-size: 12px;
			letter-spacing: -0.7px;
			height: 44px;
			padding: $gap*.75 $gap*.5;
			@include placeholder($black);
			@include sans-serif-mono;

			@include mediaquery(desktop) {
				&:hover {
					background: color('gradients', 'orange-horiz');
				}
			}
		}

		.hs-email {
			width: 75%;
		}

		.hs-submit {
			width: 25%;
			position: absolute;
			right: 0;
			top: 0;
		}

		.hs-submit, .hs-email {
			label {
				display: none;
			}
		}

		form {
			position: relative;
			width: 100%;
		}

		.submitted-message p {
			@extend .caption;
		}

		.hs_error_rollup {
			position: absolute;
			bottom: -30px;
			left: 0;

			label {
				@extend .caption;
			}
		}

		.hs-richtext {
			margin-top: $gap;
			p {
				@extend .caption;

				a {
					text-decoration: underline;
					opacity: 1;
					@include transition(opacity .4s ease-out);

					@include mediaquery(desktop) {
						&:hover {
							opacity: .4;
						}
					}
				}
			}
		}
	}
}

/**** Search Form Popup ****/
.search-button {
	color: $white;
	background:url('../images/white-arrow.png') no-repeat center center transparent;
	background-size: 14px 12px;
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 26px;
	height: 26px;
	@include sans-serif-bold;
}

.search-form {
	position: relative;
}

.component-search .search-button {
	bottom: 16px;
	right: 20px;
}

.search-popup {
	form {
		position: relative;
	}

	input[type="text"] {
		background-color: transparent;
		border-bottom: 1px solid color('standard', 'gray');
		border-radius: 0;
		width: 100%;
		color: white;
		font-size: 16px;
		letter-spacing: -0.7px;
		height: 30px;
		padding: 0 0 4px 0;
		@include placeholder(white);
		@include sans-serif-mono;
	}

	
}

.search {
	.header-tab {
		@include mediaquery-max(tablet-landscape) {
			margin: 0 $gap;
		}
	}
}

.component-search {

	@include mediaquery-max(tablet-landscape) {
		margin: 0 $gap;
	}

	input[type="text"] {
		background-color: $black;
		border-radius: 0;
		width: 100%;
		color: white;
		font-size: 16px;
		letter-spacing: -0.7px;
		height: 64px;
		padding: $gap;
		@include placeholder(white);
		@include sans-serif-mono;
	}

	input[type="submit"] {

	}
}


//CF7 styles
.wpcf7-checkbox {

	@include mediaquery(tablet-portrait) {
		width: 50%;
	}

	.wpcf7-list-item-label {
		cursor: pointer;
		display: block;
		padding-left: $gap*2;
		position: relative;
		line-height: 1.4;
		@include sans-serif-bold;


		&:before {
			border-radius: 50%;
			border: 2px solid white;
			content: '';
			cursor: pointer;
			display: inline-block;
			height: $gap;
			left: 0;
			position: absolute;
			top: calc(50% - 15px);
			width: $gap;
		}

		@include mediaquery(desktop) {
			&:hover:before {
				background-color: rgba(255, 255, 255, .5);
			}
		}
	}

	input[type="checkbox"] {
		display: none;

		&:checked + .wpcf7-list-item-label:before {
			background-color: white;
		}
	}

}

.screen-reader-response {
	display: none;
}


.subscribe-error {
	margin: $gap*.5 0;
}

.ajax-loader {
	display: none;
}

.wpcf7-form-control-wrap {
	display: block;
	margin-bottom: 0;
	position: relative;

}

.wpcf7-not-valid-tip {
	@extend .caption;
	color: red;
	display: block;
	margin-top: $gap * .25;
	opacity: 1;
	text-transform: none;

	.deadline &, .budget & {
		position: absolute;
		top: 10px;
	}

	.row-text-white & {
		color: red;
	}
}

.wpcf7-response-output {
	@extend .caption;
	color: red;
	clear: both;
	margin-top: $gap*2;
}

.wpcf7-mail-sent-ok {
}
