/**** Element in Viewport - Prevents flashing for Element in Viewport transition
*	(js adds opacity 1 once loaded)
*	Add elements or classes that are present BEFORE js and are affected by the Element in Viewport script
****/

h1, h2, h3, h4, h5, h6, p {
	opacity: 0;
	transition: opacity .3s ease-in;

	.no-element-in-view &, &.no-element-in-view {
		opacity: 1;
	}
}

html {
	height: 100%;
}

body {
	font-smoothing: antialiased;
	color: $defaultTextColor;
	font-size: 13px;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	@include primary-regular;

	&.popupOpen {
		//prevents background from scrolling when PopUp is activated, optional 
		@include mediaquery-max(medium) {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
	}
}

.content-container {
	min-height: calc(100vh - 150px);
}

main.content {
	width: 100%;
	height: 100%;

	.wp-admin & {
		height: auto;
	}
}

article {
	height: 100%;
}

.pure-g {
	align-content: inherit;
	letter-spacing: inherit;
}

/**** Misc ****/

// SVG sprite is hidden from the screen
.svg-sprite {
	height: 0;
	overflow: hidden;
}


// Accessibility trick to hide span nearby with aria values
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
	position: absolute;
    width: 1px;
}

