/*** Hide classes ***/

.small-hidden {
	@include mediaquery-max(medium) {
		display: none;
	}

	@include mediaquery(medium) {
		display: inherit;
	}
}

.medium-hidden {
	@include mediaquery-max(medium) {
		display: inherit;
	}

	@include mediaquery(medium) {
		display: none;
	}

	@include mediaquery(large) {
		display: inherit;
	}
}

.large-hidden {
	@include mediaquery-max(large) {
		display: inherit;
	}

	@include mediaquery(large) {
		display: none;
	}

	@include mediaquery(xl) {
		display: inherit;
	}
}

.xl-hidden {
	display: inherit;

	@include mediaquery(xl) {
		display: none;
	}

}

//hidden always
.front-end .hidden {
	display: none !important;
	visibility: hidden;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
	visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}