@mixin verticalCenter() {
	display: flex;
	align-items: center;
}

@mixin allCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin horizontalCenter() {
	display: flex;
	justify-content: center;
}

@mixin cssColumns($columns, $colGap, $break) {
	column-count:$columns;
	column-gap: $colGap;
	page-break-inside: $break; /* Firefox */
	break-inside: $break;
}

.block,
.display-block {
	display: block !important;
}

//===
// Clearfix: contain floats
// Available as class or mixin
.clearfix:before,
.clearfix:after {
	content: " "; // 1
	display: table; // 2
}

.clearfix:after {
	clear: both;
}

@mixin clearRow {
	&:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		width: 100%;
	}
}

// Helper Classes
// .align-center,
.text-align-center { text-align: center; }

.text-align-center-phone { @include mediaquery(phone) { text-align: center; } }
.text-align-center-phone-plus { @include mediaquery(phone-plus) { text-align: center; } }
.text-align-center-tablet-portrait { @include mediaquery(tablet-portrait) { text-align: center; } }
.text-align-center-tablet-landscape { @include mediaquery(tablet-landscape) { text-align: center; } }
.text-align-center-desktopt { @include mediaquery(desktop) { text-align: center; } }
.text-align-center-xl { @include mediaquery(xl) { text-align: center; } }
.text-align-center-xl2 { @include mediaquery(xl2) { text-align: center; } }

.text-align-center-max-phone { @include mediaquery-max-width(phone) { text-align: center; } }
.text-align-center-max-phone-plus { @include mediaquery-max-width(phone-plus) { text-align: center; } }
.text-align-center-max-tablet-portrait { @include mediaquery-max-width(tablet-portrait) { text-align: center; } }
.text-align-center-max-tablet-landscape { @include mediaquery-max-width(tablet-landscape) { text-align: center; } }
.text-align-center-max-desktopt { @include mediaquery-max-width(desktop) { text-align: center; } }
.text-align-center-max-xl { @include mediaquery-max-width(xl) { text-align: center; } }
.text-align-center-max-xl2 { @include mediaquery-max-width(xl2) { text-align: center; } }

// .align-left, 
.text-align-left { text-align: left; }

.text-align-left-phone { @include mediaquery(phone) { text-align: left; } }
.text-align-left-phone-plus { @include mediaquery(phone-plus) { text-align: left; } }
.text-align-left-tablet-portrait { @include mediaquery(tablet-portrait) { text-align: left; } }
.text-align-left-tablet-landscape { @include mediaquery(tablet-landscape) { text-align: left; } }
.text-align-left-desktopt { @include mediaquery(desktop) { text-align: left; } }
.text-align-left-xl { @include mediaquery(xl) { text-align: left; } }
.text-align-left-xl2 { @include mediaquery(xl2) { text-align: left; } }

.text-align-left-max-phone { @include mediaquery-max-width(phone) { text-align: left; } }
.text-align-left-max-phone-plus { @include mediaquery-max-width(phone-plus) { text-align: left; } }
.text-align-left-max-tablet-portrait { @include mediaquery-max-width(tablet-portrait) { text-align: left; } }
.text-align-left-max-tablet-landscape { @include mediaquery-max-width(tablet-landscape) { text-align: left; } }
.text-align-left-max-desktopt { @include mediaquery-max-width(desktop) { text-align: left; } }
.text-align-left-max-xl { @include mediaquery-max-width(xl) { text-align: left; } }
.text-align-left-max-xl2 { @include mediaquery-max-width(xl2) { text-align: left; } }

// .align-right,
.text-align-right { text-align: right; }

.text-align-right-phone { @include mediaquery(phone) { text-align: right; } }
.text-align-right-phone-plus { @include mediaquery(phone-plus) { text-align: right; } }
.text-align-right-tablet-portrait { @include mediaquery(tablet-portrait) { text-align: right; } }
.text-align-right-tablet-landscape { @include mediaquery(tablet-landscape) { text-align: right; } }
.text-align-right-desktopt { @include mediaquery(desktop) { text-align: right; } }
.text-align-right-xl { @include mediaquery(xl) { text-align: right; } }
.text-align-right-xl2 { @include mediaquery(xl2) { text-align: right; } }

.text-align-right-max-phone { @include mediaquery-max-width(phone) { text-align: right; } }
.text-align-right-max-phone-plus { @include mediaquery-max-width(phone-plus) { text-align: right; } }
.text-align-right-max-tablet-portrait { @include mediaquery-max-width(tablet-portrait) { text-align: right; } }
.text-align-right-max-tablet-landscape { @include mediaquery-max-width(tablet-landscape) { text-align: right; } }
.text-align-right-max-desktopt { @include mediaquery-max-width(desktop) { text-align: right; } }
.text-align-right-max-xl { @include mediaquery-max-width(xl) { text-align: right; } }
.text-align-right-max-xl2 { @include mediaquery-max-width(xl2) { text-align: right; } }

// .center,
.block-align-center { margin: 0 auto !important; }

.block-align-center-phone { @include mediaquery(phone) { margin: 0 auto !important; } }
.block-align-center-phone-plus { @include mediaquery(phone-plus) { margin: 0 auto !important; } }
.block-align-center-tablet-portrait { @include mediaquery(tablet-portrait) { margin: 0 auto !important; } }
.block-align-center-tablet-landscape { @include mediaquery(tablet-landscape) { margin: 0 auto !important; } }
.block-align-center-desktopt { @include mediaquery(desktop) { margin: 0 auto !important; } }
.block-align-center-xl { @include mediaquery(xl) { margin: 0 auto !important; } }
.block-align-center-xl2 { @include mediaquery(xl2) { margin: 0 auto !important; } }

.block-align-center-max-phone { @include mediaquery-max-width(phone) { margin: 0 auto !important; } }
.block-align-center-max-phone-plus { @include mediaquery-max-width(phone-plus) { margin: 0 auto !important; } }
.block-align-center-max-tablet-portrait { @include mediaquery-max-width(tablet-portrait) { margin: 0 auto !important; } }
.block-align-center-max-tablet-landscape { @include mediaquery-max-width(tablet-landscape) { margin: 0 auto !important; } }
.block-align-center-max-desktopt { @include mediaquery-max-width(desktop) { margin: 0 auto !important; } }
.block-align-center-max-xl { @include mediaquery-max-width(xl) { margin: 0 auto !important; } }
.block-align-center-max-xl2 { @include mediaquery-max-width(xl2) { margin: 0 auto !important; } }

.float-left,
.block-align-left {
	float: left !important;
}

.float-right,
.block-align-right {
	float: right !important;
}

.nofloat {
	float: none;
}

.relative {
	position: relative !important;
}