$positions: top, bottom, left, right;
$paddings: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 130, 170;
$screensizes: mobile, tablet-portrait, tablet-landscape, desktop, xl, 2xl;

//Margin vars
//creates classes based on variables
//adding a screensize of mobile will start at 0px wide. if the margin is the same across screensizes, use "mobile"
@each $position in $positions{
  @each $padding in $paddings{
  	@each $screensize in $screensizes{
	    .margin-#{$screensize}-#{$position}-#{$padding}{ 
	    	@include mediaquery(#{$screensize}) {
	    		margin-#{$position}: #{$padding}px;
	    	}
	    }
	}
  }
}