$mediaQueries: (
	'none'				: $default,
	'default'			: $default,
	'phone'				: $phone,
	'phone-plus'		: $phone-plus,
	'tablet-portrait'	: $tablet-portrait,
	'tablet-landscape'	: $tablet-landscape,
	'desktop'			: $desktop,
	'xl'				: $xl,
	'xl2'				: $xl2
);

$maxMediaQueries: (
	'phone'				: $max-phone,
	'phone-plus'		: $max-phone-plus,
	'tablet-portrait'	: $max-tablet-portrait,
	'tablet-landscape'	: $max-tablet-landscape,
	'desktop'			: $max-desktop,
	'xl'				: $max-xl,
	'xl2'				: $max-xl2
);

$minHeightMediaQueries: (
	'mbp13'		: '1000px'
);

$minDeviceHeightMediaQueries: (
	'iPhone4'	: '480px',
	'iPhone5'	: '568px',
	'Android'	: '569px',
	'iPhone6'	: '667px',
	'iPad'		: '737px',
	'desktop'	: '1025px'
);

// Use this mobile-first mixin, primarily.
@mixin mediaquery($breakpoint) {
	@media only screen and (min-width: _get($mediaQueries, #{$breakpoint})) {
		@content;
	}
}

// Use this mobile-first mixin, primarily.
@mixin mediaquery($breakpoint) {
	@media only screen and (min-width: _get($mediaQueries, #{$breakpoint})) {
		@content;
	}
}

@mixin mediaquery-min-device-width($breakpoint) {
	@media only screen and (min-device-width: _get($mediaQueries, #{$breakpoint})) {
		@content;
	}
}

// These need to be used very infrequently, if at all.
@mixin mediaquery-max-width($breakpoint) {
	@media only screen and (max-width: _get($maxMediaQueries, #{$breakpoint})) {
		@content;
	}
}

@mixin mediaquery-max-device-width($breakpoint) {
	@media only screen and (max-device-width: _get($maxMediaQueries, #{$breakpoint})) {
		@content;
	}
}

@mixin mediaquery-min-height($breakpoint) {
	@media only screen and (min-height: _get($minHeightMediaQueries, #{$breakpoint})) {
		@content;
	}
}

@mixin mediaquery-min-device-height($breakpoint) {
	@media only screen and (min-device-height: _get($minDeviceHeightMediaQueries, #{$breakpoint})) {
		@content;
	}
}
