/**** Padding ****/

$positions: top, left, bottom, right;
$screensizes: global, small, medium, large, xl, 2xl, 3xl, 4xl, 5xl;
$spacer: 5;
// Creates classes based on variables
// Use class "padding-position-size" for paddings used in all screen sizes
@each $position in $positions{
	@each $screensize in $screensizes{
		@for $i from 1 through 200 {
			@if $i % $spacer == 0 {
				@if $screensize == global {
					.padding-#{$position}-#{$i} { 
						padding-#{$position}: #{$i}px;
					}
				} @else {
					.padding-#{$screensize}-#{$position}-#{$i} { 
						@include mediaquery-max(#{$screensize}) {
							padding-#{$position}: #{$i}px;
						}
					}
				}
			}
		}
	}
}

