/*** Row Theme Settings ***/


//Background classes
.component-background {
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
}

.component-video-background {
	overflow: hidden;
	position: relative;

	.video-container {
		height: 100%;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		object-fit: none;
		object-position: center center;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		width: 100%;
		z-index: -1;
	}
}

$yPositions: top, center, bottom;
$xPositions: left, right, center;

@each $yPosition in $yPositions{
  	@each $xPosition in $xPositions{

		.component-background-#{$xPosition}-#{$yPosition} { 
			background-position: #{$xPosition} #{$yPosition};
		}
	}
}

@each $xPosition in $xPositions{

	.component-background-position-x-#{$xPosition} { 
		background-position-x: #{$xPosition};
	}
}

@each $yPosition in $yPositions{

	.component-background-position-y-#{$yPosition} { 
		background-position-y: #{$yPosition};
	}
}




//Border classes

@each $position in $positions{
	.component-#{$position}-border-none, .wp-block .component-#{$position}-border-none > .pure-g {
		border-#{$position}: 0;
	}

	.component-#{$position}-border, .component-#{$position}-border-default, .wp-block .component-#{$position}-border-default > .pure-g {
		border-#{$position}: 1px solid $borderColor;
	}

	.component-#{$position}-border-white, .wp-block .component-#{$position}-border-white > .pure-g {
		border-#{$position}: 1px solid $white;
	}

	.component-#{$position}-border-primary, .wp-block .component-#{$position}-border-primary > .pure-g {
		border-#{$position}: 1px solid color('background', 'primary');
	}

	.component-#{$position}-border-secondary, .wp-block .component-#{$position}-border-secondary > .pure-g {
		border-#{$position}: 1px solid color('background', 'secondary');
	}

	.component-#{$position}-border-tertiary, .wp-block .component-#{$position}-border-tertiary > .pure-g {
		border-#{$position}: 1px solid color('background', 'tertiary');
	}

	.component-#{$position}-border-black, .wp-block .component-#{$position}-border-black > .pure-g {
		border-#{$position}: 1px solid $black;
	}

	.component-#{$position}-border-small {
		@include mediaquery-max(medium) {
			border-#{$position}: 1px solid $borderColor;
		}
	}

	.component-#{$position}-border-medium-up {
		@include mediaquery(medium) {
			border-#{$position}: 1px solid $borderColor;
		}
	}
}

//overlay
.overlay {
	background-color: rgba(0, 0, 0, .3);
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}


