/**** Variables related to heights and widths ****/

$gap						: 20px;
$siteWidth					: 1024px;
$navMobileHeight			: 70px;
$navHeight					: 120px;
$positions					: top, left, bottom, right;
$screensizes				: small, medium, large, xl, xl2;
$increment 					: 20;
//gap and increment should be the same value. 2 variables are required, one without px

// Breakpoints
$phone						: 569px;
$tablet-portrait			: 768px;
$tablet-landscape			: 1024px;
$desktop					: 1100px;
$xl							: 1280px;
$xl2						: 1440px;

// Max width breakpoints
$max-phone					: 569px;
$max-tablet-portrait		: 768px;
$max-tablet-landscape		: 1024px;
$max-desktop				: 1100px;
$max-xl						: 1280px;
$max-xl2					: 1440px;

//Fixed row heights
$small-row-mobile			: 50vh;
$small-row					: 250px;
$medium-row-mobile			: 100vh;
$medium-row					: 500px;
$large-row-mobile			: 100vh;
$large-row					: 700px;

/** Responsive Font Size Map **/
// Add as many as needed.
// Add fonts sizes for each break point. Font sizes will be converted to rems. 
// Usage:  @include font-size($font-size)
$font-size-headline1: (
	'small'		: 64px,
	'medium'	: 64px,
	'large'		: 96px,
	'xl'		: 96px,
	'xl2'		: 96px,
);

$font-size-headline2: (
	'small'		: 64px,
	'medium'	: 64px,
	'large'		: 48px,
	'xl'		: 48px,
	'xl2'		: 48px,
);

$font-size-headline3: (
	'small'		: 34px,
	'medium'	: 34px,
	'large'		: 48px,
	'xl'		: 48px,
	'xl2'		: 48px,
);

$font-size-headline4: (
	'small'		: 24px,
	'medium'	: 24px,
	'large'		: 34px,
	'xl'		: 34px,
	'xl2'		: 34px,
);

$font-size-headline5: (
	'small'		: 24px,
	'medium'	: 24px,
	'large'		: 20px,
	'xl'		: 20px,
	'xl2'		: 20px,
);

$font-size-headline6: (
	'small'		: 20px,
	'medium'	: 20px,
	'large'		: 20px,
	'xl'		: 20px,
	'xl2'		: 20px,
);

@mixin font-size($fs-map) {
	@each $fs-breakpoint, $fs-font-size in $fs-map {
		@include mediaquery($fs-breakpoint) {
			font-size: px-to-rem($fs-font-size);
		}
	}
}

/** Convert px to rem **/
// Usage:  font-size: px-to-rem(12px);
@function px-to-rem($size) {
	$remSize: $size / 13px;
	@return #{$remSize}rem;
}

