/**** Variables related to heights and widths ****/

$gap						: 20px;
$siteWidth					: 1024px;
$navMobileHeight			: 70px;
$navHeight					: 120px;
$positions					: top, left, bottom, right;
$screensizes				: small, medium, large, xl, 2xl, 3xl, 4xl, 5xl;
$increment 					: 20;
//gap and increment should be the same value. 2 variables are required, one without px

// Breakpoints
$small-breakpoint			: 0px;
$medium-breakpoint			: 768px;
$large-breakpoint			: 1024px;
$xl-breakpoint				: 1100px;
$xl2-breakpoint				: 1280px;
$xl3-breakpoint				: 1440px;
$xl4-breakpoint				: 1500px;
$xl5-breakpoint				: 1700px;

// Max width breakpoints
$max-small-breakpoint		: 568px;
$max-medium-breakpoint		: 767px;
$max-large-breakpoint		: 1023px;
$max-xl-breakpoint			: 1099px;
$max-2xl-breakpoint			: 1279px;
$max-3xl-breakpoint			: 1439px;
$max-4xl-breakpoint			: 1499px;
$max-5xl-breakpoint			: 1699px;

//Fixed row heights
$small-row-mobile			: 50vh;
$small-row					: 250px;
$medium-row-mobile			: 100vh;
$medium-row					: 500px;
$large-row-mobile			: 100vh;
$large-row					: 700px;

/** Responsive Font Size Map **/
// Add as many as needed.
// Add fonts sizes for each break point. Font sizes will be converted to rems. 
// Usage:  @include font-size($font-size)
$font-size-headline1: (
	'small'		: 64px,
	'medium'	: 64px,
	'large'		: 96px,
	'xl'		: 96px,
	'2xl'		: 96px,
	'3xl'		: 96px,
	'4xl'		: 96px,
	'5xl'		: 96px
);

$font-size-headline2: (
	'small'		: 64px,
	'medium'	: 64px,
	'large'		: 48px,
	'xl'		: 48px,
	'2xl'		: 48px,
	'3xl'		: 48px,
	'4xl'		: 48px,
	'5xl'		: 48px
);

$font-size-headline3: (
	'small'		: 34px,
	'medium'	: 34px,
	'large'		: 48px,
	'xl'		: 48px,
	'2xl'		: 48px,
	'3xl'		: 48px,
	'4xl'		: 48px,
	'5xl'		: 48px
);

$font-size-headline4: (
	'small'		: 24px,
	'medium'	: 24px,
	'large'		: 34px,
	'xl'		: 34px,
	'2xl'		: 34px,
	'3xl'		: 34px,
	'4xl'		: 34px,
	'5xl'		: 34px
);

$font-size-headline5: (
	'small'		: 24px,
	'medium'	: 24px,
	'large'		: 20px,
	'xl'		: 20px,
	'2xl'		: 20px,
	'3xl'		: 20px,
	'4xl'		: 20px,
	'5xl'		: 20px
);

$font-size-headline6: (
	'small'		: 20px,
	'medium'	: 20px,
	'large'		: 20px,
	'xl'		: 20px,
	'2xl'		: 20px,
	'3xl'		: 20px,
	'4xl'		: 20px,
	'5xl'		: 20px
);

@mixin font-size($fs-map) {
	@each $fs-breakpoint, $fs-font-size in $fs-map {
		@include mediaquery($fs-breakpoint) {
			font-size: px-to-rem($fs-font-size);
		}
	}
}

/** Convert px to rem **/
// Usage:  font-size: px-to-rem(12px);
@function px-to-rem($size) {
	$remSize: $size / 13px;
	@return #{$remSize}rem;
}

