/*** Row Theme Settings ***/


//Background position classes
.component-theme-background {
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
}

$yPositions: top, center, bottom;
$xPositions: left, right;

@each $yPosition in $yPositions{
  	@each $xPosition in $xPositions{

		.component-theme-background-#{$yPosition}-#{$xPosition} { 
			background-position: #{$yPosition} #{$xPosition};
		}
	}
}



//Border classes

@each $position in $positions{
	.component-theme-#{$position}-border {
		border-#{$position}: 1px solid $borderColor;
	}

	.component-theme-#{$position}-border-white {
		border-#{$position}: 1px solid $white;
	}

	.component-theme-#{$position}-border-small {
		@include mediaquery-max(medium) {
			border-#{$position}: 1px solid $borderColor;
		}
	}

	.component-theme-#{$position}-border-medium-up {
		@include mediaquery(medium) {
			border-#{$position}: 1px solid $borderColor;
		}
	}
}


//overlay
.overlay {
	background-color: rgba(0, 0, 0, .3);
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}


//Fixed row heights

.small-row-height {
	height: $small-row-mobile;

	@include mediaquery(medium) {
		height: $small-row;

	}
}

.medium-row-height {
	height: $medium-row-mobile;

	@include mediaquery(medium) {
		height: $medium-row;

	}
}

.large-row-height {
	height: $large-row-mobile;

	@include mediaquery(medium) {
		height: $large-row;

	}
}
