// Responsive Font Size Map
// ========================
// $font-size-headline1: (
// 	null  : 48px,
// 	768px : 48px,
// 	1024px: 72px,
// 	1025px: 72px
// );
@mixin font-size($fs-map) {
	@each $fs-breakpoint, $fs-font-size in $fs-map {
		@if $fs-breakpoint == null {
			font-size: $fs-font-size;
		} @else {
			@media screen and (min-width: $fs-breakpoint) {
				font-size: $fs-font-size;
			}
		}
	}
}

@function px-to-rem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

/**** Global Text Styles ****/
address {

}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;

	@include mediaquery(desktop) {
		&:hover {
		}
	}

}

.full-link {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

mark {
	background-color: transparent;
}



em, i {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	@include sans-serif-italic;
}

hr {
	background: color('accent', 'gray-border');
	border: 0;
	height: 1px;
	margin: 25px auto;
}

p, .body {
	font-size: 11px;
	line-height: 1.3;
	margin-bottom: $gap;
	letter-spacing: -0.1px;
	@include sans-serif-regular;

	@include mediaquery(tablet-landscape) {
		font-size: 16px;
		letter-spacing: -0.15px;
	}

	a {
		//okatodo: link colors
		text-decoration: none;
		@include transition(color .3s ease-out);

		@include mediaquery(desktop) {
			&:hover {
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.large-body {
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: -0.4px;

	@include mediaquery(tablet-landscape) {
		font-size: 24px;
	}

	&.extended-bold {
		@include sans-serif-bold;

		@include mediaquery(tablet-landscape) {
			font-size: 20px;
		}
	}
	
	a {
		text-decoration: underline;
		opacity: 1;
		line-height: 1.5;
		@include transition(opacity .4s ease-out);

		@include mediaquery(desktop) {
			&:hover {
				opacity: .4;
			}
		}
	}
}

.medium-body {
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: -0.4px;

	@include mediaquery(tablet-landscape) {
		font-size: 20px;
	}

}

.caption {
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: -0.5px;
	@include sans-serif-mono;
}

.caption2 {
	font-size: 11px;
	line-height: 1.3;
	letter-spacing: 0.3px;
	@include sans-serif-bold;
}

.eyebrow {
	font-size: 11px;
	line-height: 1.4;
	letter-spacing: -0.46px;
	@include sans-serif-mono;

	@include mediaquery(tablet-landscape) {
		font-size: 16px;
		line-height: 1.3;
		letter-spacing: -0.7px;
	}
}

.cta-link {
	cursor: pointer;
	font-size: 11px;
	line-height: 1.4;
	letter-spacing: -0.46px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding-bottom: 3px;
	padding-right: 2px;
	@include sans-serif-mono;

	@include mediaquery(tablet-landscape) {
		font-size: 16px;
		line-height: 1.3;
		letter-spacing: -0.7px;
	}

	&:after {
		content: '\2192';
		display: inline-block;
		margin-left: $gap*.5;
	}
	
	&:before {
		background: $black;
		bottom: 1px;
		content: '';
		height: 1px;
		left: -100%;
		position: absolute;
		width: 100%;
		@include transition(left .15s ease-out);
	}

	&.cta-link-small {

		@include mediaquery(tablet-landscape) {
			font-size: 12px;
			line-height: 1.3;
			letter-spacing: -0.5px;
		}
	}

	&.cta-link-small-bold {
		@include sans-serif-bold;
	}

	&.color-standard-white {
		&:before {
			background-color: $white;
		}
	}

	&.button-inactive {
		opacity: .5;
		pointer-events: none;
	}

	@include mediaquery(desktop) {
		&:hover:before {
			left: 0;
		}
	}
}


.cta-arrow {
	font-size: 30px;
	line-height: 1.1;
	letter-spacing: 0;
	@include sans-serif-bold;

	&:after {
		content: '\2192';
		display: inline-block;
		margin-left: $gap*.5;
	}
}

.message {
	background-color: color('standard', 'black');
	color: color('standard', 'white');
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: -0.52px;
	padding: $gap 85px $gap $gap;
	position: relative;
	@include sans-serif-mono;
	@include transition(background-color .3s ease-out, color .3s ease-out);

	@include mediaquery(tablet-landscape) {
		font-size: 14px;
		line-height: 1.5;
		letter-spacing: -0.61px;
	}

	&:after {
		content: '\2192';
		display: inline-block;
		position: absolute;
		right: 30px;
		font-size: 20px;
		top: calc(50% - 15px);
		@include sans-serif-bold;
	}

	a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
	}

	@include mediaquery(desktop) {
		&:hover {
			color: color('standard', 'black');
			background-color: color('standard', 'white');

		}
	}
}

span {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

u {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

strong, b {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	@include sans-serif-semi;
}

th, tr, td {
	color: inherit;
}

.event-time {
	font-size: 20px;
	line-height: 1.1;
	display: inline-block;
	@include sans-serif-bold;

	@include mediaquery(tablet-landscape) {
		font-size: 24px;
		display: block;
	}
}

.footer-item {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.3px;
	@include sans-serif-bold;
}

.footer-copyright {
	font-size: 12px;
	line-height: 1.8;
	@extend .color-standard-gray;

}

.phone {
	display: block;
	font-size: 13px;
	line-height: 1.7;
	@include sans-serif-mono;

	@media only screen and (min-width: 375px) {
		font-size: 14px;
	}
}

.date {
	font-size: 11px;
	line-height: 1.4;
	letter-spacing: -0.46px;
	@include sans-serif-mono;

	@include mediaquery(tablet-landscape) {
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: -0.52px;
	}
}

.filter-item {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: -0.15px;
	cursor: pointer;
	@include sans-serif-regular;

	&.filter-item-header {
		cursor: initial;
		position: relative;
		@include sans-serif-bold;

		@include mediaquery-max(tablet-landscape) {
			padding-bottom: 12px;
			
			&:after {
				content: '\2192';
				position: absolute;
				right: 0;
				@include transform(rotate(90deg));
			}
		}

	}

	&.filter-item-parent {
		cursor: pointer;
		position: relative;
		overflow: hidden;
		max-height: 23px;
		@include sans-serif-regular;
		
		&:before {
			content: '\2192';
			position: absolute;
			right: 0;
			top: 0;
			@include transform(rotate(90deg));
		}

		span {
			display: block;
			width: 100%;
		}
	}

	&.activeFilter {
		@include sans-serif-semi;
	}
}

.openFilter {
	@include mediaquery-max(tablet-landscape) {
		.filter-item-header:after {
			@include transform(rotate(-90deg));
		}
	}

	&.filter-item-parent:before {
		@include transform(rotate(-90deg));
	}
}


/**** Button Styles ****/


.button {
	@extend .caption;
	background-color: color('standard', 'black');
	color: color('standard', 'white');
	padding: 10px 25px 9px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 2;

	&:after {
		content: '';
		height: 100%;
		width: 101%;
		background: color('gradients', 'orange-horiz');
		left: -101%;
		position: absolute;
		top: 0;
		z-index: -1;
		@include transition(left .4s ease-out);
	}

	@include mediaquery(desktop){
		&:hover:after {
			left: 0;
		}
	}

	&.button-inactive {
		pointer-events: none;
		opacity: .5;
	}

	&.button-white {
		color: $black;
		background: $white;

	}

	&.button-hover-white {
		@include transition(background .4s ease-out, color .4s ease-out);
		
		@include mediaquery(desktop) {
			&:after {
				display: none;
			}

			&:hover {
				color: $black;
				background: $white;
			}
		}
	}

}

.post-nav-link {
	@extend .caption;
	background-color: color('standard', 'black');
	color: color('standard', 'white');
	cursor: pointer;
	display: block;
	font-size: 11px;
	min-height: 30px;
	overflow: hidden;
	padding: 7px 25px 6px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 2;
	@include transition(background-color .4s ease-out);

	@include mediaquery(tablet-landscape) {
		min-height: 61px;
		padding-top: 21px;
		padding-bottom: 20px;
		font-size: 16px;
	}

	&.prev-link{
		@include mediaquery-max(tablet-portrait) {
			margin-bottom: 2px;
		}
		
		&:before {
			content: '\2190';
			display: inline-block;
			margin-right: $gap*.5;
		}

		&:after {
			content: '';
			height: 100%;
			width: 101%;
			background: color('gradients', 'orange-horiz');
			right: -101%;
			position: absolute;
			top: 0;
			z-index: -1;
			@include transition(right .4s ease-out);
		}

		@include mediaquery(desktop){
			&:hover {
				color: $black;

				&:after {
					right: 0;
				}
			}
		}
		
	}

	&.next-link {
		&:after {
			content: '\2192';
			display: inline-block;
			margin-left: $gap*.5;
		}

		&:before {
			content: '';
			height: 100%;
			width: 101%;
			background: color('gradients', 'orange-horiz');
			left: -101%;
			position: absolute;
			top: 0;
			z-index: -1;
			@include transition(left .4s ease-out);
		}

		@include mediaquery(desktop){
			&:hover {
				color: $black;
				
				&:before {
					left: 0;
				}
			}
		}
		
	}
}


/***** Error & Message Styles *****/
.error {
	@extend .caption;
}


/**** Color Helpers ****/
.headline1,
.headline2,
.headline3,
.headline4,
h1, h2, h3, p, li, .caption {
	.row-text-white & {
		color: $white;
	}

	.row-text-black & {
		color: $black;

	}

	span {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}
}



/**** Override & Helper Classes ****/
.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.no-margin {
	margin: 0;
}

// Use dynamically generated color classes as follows:
//
// Classes:
//
// 		.background-key-variant
// 		.color-color-key-variant
//
// For example:
//
// 		.background-accent-blue
// 		.color-accent-blue
//

.row-text-white {
	color: $white;
}

.row-text-black {
	color: $black;
}

.underline {
	// for use in WYSIWYG as <u></u> was deprecated in 4.7+
	color:inherit;
	display: inline;
	font-family: inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	line-height: inherit;
	text-decoration:underline;
}

.lowercase {
	text-transform: lowercase;
}

.nocase {
	text-transform: none;
}

.uppercase {
	text-transform: uppercase;
}


/**** Headline Styles ****/

.headline1 {
	font-size: 20px;
	line-height: 1.1;
	letter-spacing: -.1px;
	@include sans-serif-bold;

	@include mediaquery(tablet-landscape) {
		font-size: 48px;
	}

	&.headline1-small {
		@include mediaquery(tablet-landscape) {
			font-size: 36px;
		}
	}
}

.headline2 {
	font-size: 20px;
	line-height: 1.1;
	letter-spacing: -.1px;
	@include sans-serif-bold;

	@include mediaquery(tablet-landscape) {
		font-size: 30px;
	}
}


.headline2-alt {
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.3px;
	@include sans-serif-bold;

	@include mediaquery(tablet-landscape) {
		font-size: 30px;
		line-height: 1.1;
		letter-spacing: -.1px;
	}
}

.headline3 {
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.3px;
	@include sans-serif-bold;

	@include mediaquery(tablet-landscape) {
		font-size: 20px;
		letter-spacing: -.1px;
	}
}

.headline4 {
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.3px;
	@include sans-serif-bold;

	@include mediaquery(tablet-landscape) {
	}
}

.headline5 {
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.3px;
	@include sans-serif-bold;

	@include mediaquery(tablet-landscape) {
	}
}

.headline6 {
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: .2px;
	@include sans-serif-regular;

	@include mediaquery(tablet-landscape) {
		font-size: 32px;
		line-height: 1.25;
	}
}

.display-block {
	display: block;
}

/**** Body Copy ****/
.body-text {
	p {
		color: $black;
	}
	//inline images
	img, .post-img {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		width: auto;

		&.alignleft, &.post-img-left {
			display: block;
			margin: 0 auto $gap*5;
			max-width: 100%;
			width: auto;

			@include mediaquery(tablet-portrait) {
				clear: left;
				float: left;
				margin: 0 $gap*2.5 $gap*2.5 0;
			}
		}

		&.alignright, &.post-img-right {
			display: block;
			margin: 0 auto $gap*5;
			max-width: 100%;
			width: auto;

			@include mediaquery(tablet-portrait) {
				clear: right;
				float: right;
				margin: 0 0 $gap*2.5 $gap*2.5;

				&.single {
					margin: 0 -10% $gap*2.5 $gap*2.5;
				}
			}
		}

		&.aligncenter, &.post-img-none {
			display: block;
			margin: 0 auto $gap*5;
			max-width: 100%;
			width: auto;
		}
	}

	.wp-caption {
		&.aligncenter, &.post-img-none {
			display: block;
			margin: 0 auto $gap*5;
			max-width: 100%;
			width: auto;
		}

		&.alignleft {
			display: block;
			margin: 0 auto $gap*5;
			max-width: 100%;
			width: auto;

			@include mediaquery(tablet-portrait) {
				clear: left;
				float: left;
				margin: 0 $gap*2.5 $gap*2.5 0;
			}
		}

		&.alignright {
			display: block;
			margin: 0 auto $gap*5;
			max-width: 100%;
			width: auto;

			@include mediaquery(tablet-portrait) {
				clear: right;
				float: right;
				margin: 0 0 $gap*2.5 $gap*2.5;

				&.single {
					margin: 0 -10% $gap*2.5 $gap*2.5;
				}
			}
		}
		.wp-caption-text {
			@extend .caption2;
			margin-top: $gap*.5;
		}
	}

	blockquote {
		padding: 0 $gap*2;

		@include mediaquery(tablet-landscape) {
			padding: 0 $gap*3;
		}
	}

	cite {
		@extend .body;
		font-style: italic;
		font-size: 12px;
	}

	table {
		td {
			@extend .body;
			border: 1px solid color('standard', 'gray');
			padding: $gap*.5;
		}
	}

	//ctas and links
	& + a {
		margin-top: $gap*1.5;
	}

	+ .ctas {
		// Add margin to ctas if it's next to a .body-text div
		margin-top: $gap*1.5;
	}

	.button a {
		color: inherit;
		text-decoration: none;
	}

	a, p a, ul li a, ol li a {
		text-decoration: underline;
		@include transition(opacity .4s ease-out);

		@include mediaquery(desktop) {
			&:hover {
				opacity: .4;
			}
		}
	}

	//colors
	.row-text-white & {
		color: $white;
	}

	.row-text-black & {
		color: $black;
	}

	//list styles
	ul, ol {
		margin-left: $gap*.75;
		margin-bottom: $gap;

		@include mediaquery(tablet-landscape) {
			margin-left: 85px;
		}

		li {
			@extend .body;
			color: inherit;
			margin-bottom: $gap*.5;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	h1 {
		@extend .headline2;
		@include sans-serif-semi;
		margin-bottom: $gap;
		padding-top: $gap;
	}

	h2 {
		@extend .headline3;
		margin-bottom: $gap;
		padding-top: $gap;
	}

	h3 {
		@extend .headline3;
		@include sans-serif-regular;
		margin-bottom: $gap;
		padding-top: $gap;
	}

	h4 {
		@extend .headline4;
		@include sans-serif-regular;
		margin-bottom: $gap;
		padding-top: $gap;
	}

	h5 {
		@extend .headline5;
		@include sans-serif-regular;
		margin-bottom: $gap;
		padding-top: $gap;
	}

	h6 {
		@extend .caption;
		margin-bottom: $gap;
		padding-top: $gap;
	}
}

/**** Header Tabs ****/ 
.header-tab {
	.header-tab-inner {
		background-color: $black;
		display: inline-block;
		padding: $gap*.5 $gap*2 $gap*.5 $gap*.5;

		@include mediaquery(tablet-landscape) {
			padding: $gap 85px 75px $gap;
			max-width: 100%;
		}

	}

	&.header-tab-small {
		text-align: left;

		.layout-direction-left & {
			text-align: left;
		}

		.component-news-small & {
			text-align: right;
		}

		// @include mediaquery(tablet-landscape) {
		// 	text-align: right;
		// }

		.header-tab-inner {
			padding: $gap*.5 $gap*2 $gap*.5 $gap*.5;

			@include mediaquery(tablet-landscape) {
				padding: 16px $gap*3 16px $gap;
				width: 100%;
				text-align: left;
				
				&.header-tab-no-fill {
					width: auto;
				}
			}

		}


	}

}

/**** CTA Tab ****/
.cta-tab {
	@include clearRow;
	.cta-tab-inner {
		cursor: pointer;
		background-color: $black;
		padding: 8px 17px 8px 10px;
		float: right;
		display: inline-block;
		position: relative;
		overflow: hidden;

		@include mediaquery(tablet-landscape) {
			float: none;
			display: block;
			padding: 22px 20px 20px 20px;	
		}

		@include mediaquery(desktop) {
			&:after {
				content: '';
				height: 100%;
				width: 101%;
				background: color('gradients', 'orange-horiz');
				left: -101%;
				position: absolute;
				top: 0;
				z-index: 1;
				@include transition(left .4s ease-out);
			}

			&:hover {
				a {
					color: black;
				}

				&:after {
					left: 0;
				}
				
			}
		}

		.cta-link {
			&:before {
				display: none;
			}
		}

		a {
			z-index: 2;
			position: relative;
		}
	}

	&.cta-tab-multiple {
		.cta-tab-inner {
			display: block;

			.cta-link {
				display: block;
				margin-bottom: 4px;

				&:last-child {
					margin-bottom: 0;
				}
				
				&:before {
					display: none;
				}
			}
		}
	}
}

