::selection {
	background: color('brand', 'accent');
	color: color('brand', 'primary');
}

address, 
.footer-link {
	@include primary-regular;
	display: block;
	font-style: normal;
	line-height: 1.4;
}

a {
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-decoration: none;

	@include mediaquery(desktop) {
		&:hover {
		}
	}
}

del {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
}


em, i {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

hr {
	background: color('secondary', 'lighterGray');
	border: 0;
	height: 1px;
	margin: 25px auto;
}

.link {
	color: color('text', 'link');
	text-decoration: none;
	transition: color .3s ease-out;

	@include mediaquery(desktop) {
		&:hover {
			color: color('text', 'hover');
		}
	}
}

p,
.body {
	@include secondary-regular;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 1.3;
	margin-bottom: $gap;
}

p {
	a {
		color: color('text', 'link');
		text-decoration: none;
		transition: color .3s ease-out;

		@include mediaquery(desktop) {
			&:hover {
				color: color('text', 'hover');
			}
		}
	}
}

small {
	font-size: 12px;
}

span {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

strong, b {
	@include secondary-bold;
	color: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
}

sub {
	bottom: -.5rem;
	position: relative;
}

sup {
	bottom: .5rem;
	position: relative;
}

th, tr, td {
	color: inherit;
}

u {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

/** Error & Message Styles **/
.error {
	@extend .body;
	color: red;
}

.font-weight-100.font-weight-100.font-weight-100 { font-weight: 100; }
.font-weight-200.font-weight-200.font-weight-200 { font-weight: 200; }
.font-weight-300.font-weight-300.font-weight-300 { font-weight: 300; }
.font-weight-400.font-weight-400.font-weight-400 { font-weight: 400; }
.font-weight-500.font-weight-500.font-weight-500 { font-weight: 500; }
.font-weight-600.font-weight-600.font-weight-600 { font-weight: 600; }
.font-weight-700.font-weight-700.font-weight-700 { font-weight: 700; }

.lowercase {
	text-transform: lowercase;
}

.nocase {
	text-transform: none;
}

// For use in WYSIWYG
.strikethrough {
	display: inline;
	font-family: inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	line-height: inherit;
	text-decoration: line-through;
}

// Needs to be at the top to avoid overriding the 
// specificity of the responsive rules below.
.text-align-justify { text-align: justify; }
.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }

// .text-align-center-phone { @include mediaquery(phone) { text-align: center; } }
// .text-align-center-phone-plus { @include mediaquery(phone-plus) { text-align: center; } }
// .text-align-center-tablet-portrait { @include mediaquery(tablet-portrait) { text-align: center; } }
// .text-align-center-tablet-landscape { @include mediaquery(tablet-landscape) { text-align: center; } }
// .text-align-center-desktopt { @include mediaquery(desktop) { text-align: center; } }
// .text-align-center-xl { @include mediaquery(xl) { text-align: center; } }
// .text-align-center-xl2 { @include mediaquery(xl2) { text-align: center; } }

.text-align-center-max-phone { @include mediaquery-max-width(phone) { text-align: center; } }
.text-align-center-max-phone-plus { @include mediaquery-max-width(phone-plus) { text-align: center; } }
.text-align-center-max-tablet-portrait { @include mediaquery-max-width(tablet-portrait) { text-align: center; } }
.text-align-center-max-tablet-landscape { @include mediaquery-max-width(tablet-landscape) { text-align: center; } }
.text-align-center-max-desktopt { @include mediaquery-max-width(desktop) { text-align: center; } }
.text-align-center-max-xl { @include mediaquery-max-width(xl) { text-align: center; } }
.text-align-center-max-xl2 { @include mediaquery-max-width(xl2) { text-align: center; } }

// .text-align-left-phone { @include mediaquery(phone) { text-align: left; } }
// .text-align-left-phone-plus { @include mediaquery(phone-plus) { text-align: left; } }
// .text-align-left-tablet-portrait { @include mediaquery(tablet-portrait) { text-align: left; } }
// .text-align-left-tablet-landscape { @include mediaquery(tablet-landscape) { text-align: left; } }
// .text-align-left-desktopt { @include mediaquery(desktop) { text-align: left; } }
// .text-align-left-xl { @include mediaquery(xl) { text-align: left; } }
// .text-align-left-xl2 { @include mediaquery(xl2) { text-align: left; } }

.text-align-left-max-phone { @include mediaquery-max-width(phone) { text-align: left; } }
.text-align-left-max-phone-plus { @include mediaquery-max-width(phone-plus) { text-align: left; } }
.text-align-left-max-tablet-portrait { @include mediaquery-max-width(tablet-portrait) { text-align: left; } }
.text-align-left-max-tablet-landscape { @include mediaquery-max-width(tablet-landscape) { text-align: left; } }
.text-align-left-max-desktopt { @include mediaquery-max-width(desktop) { text-align: left; } }
.text-align-left-max-xl { @include mediaquery-max-width(xl) { text-align: left; } }
.text-align-left-max-xl2 { @include mediaquery-max-width(xl2) { text-align: left; } }

// .text-align-right-phone { @include mediaquery(phone) { text-align: right; } }
// .text-align-right-phone-plus { @include mediaquery(phone-plus) { text-align: right; } }
// .text-align-right-tablet-portrait { @include mediaquery(tablet-portrait) { text-align: right; } }
// .text-align-right-tablet-landscape { @include mediaquery(tablet-landscape) { text-align: right; } }
// .text-align-right-desktopt { @include mediaquery(desktop) { text-align: right; } }
// .text-align-right-xl { @include mediaquery(xl) { text-align: right; } }
// .text-align-right-xl2 { @include mediaquery(xl2) { text-align: right; } }

.text-align-right-max-phone { @include mediaquery-max-width(phone) { text-align: right; } }
.text-align-right-max-phone-plus { @include mediaquery-max-width(phone-plus) { text-align: right; } }
.text-align-right-max-tablet-portrait { @include mediaquery-max-width(tablet-portrait) { text-align: right; } }
.text-align-right-max-tablet-landscape { @include mediaquery-max-width(tablet-landscape) { text-align: right; } }
.text-align-right-max-desktopt { @include mediaquery-max-width(desktop) { text-align: right; } }
.text-align-right-max-xl { @include mediaquery-max-width(xl) { text-align: right; } }
.text-align-right-max-xl2 { @include mediaquery-max-width(xl2) { text-align: right; } }

// .width-5-vh {  width: 5vh;  } @include mediaquery(phone) { .width-phone-5-vh {  width: 5vh;  } } @include mediaquery(phone-plus) { .width-phone-plus-5-vh {  width: 5vh;  } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-5-vh {  width: 5vh;  } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-5-vh {  width: 5vh;  } } @include mediaquery(desktop) { .width-desktop-5-vh {  width: 5vh;  } } @include mediaquery(xl) { .width-xl-5-vh {  width: 5vh;  } } @include mediaquery(xl2) { .width-5-vh {  width: 5vh;  } }
// .width-10-vh { width: 10vh; } @include mediaquery(phone) { .width-phone-10-vh { width: 10vh; } } @include mediaquery(phone-plus) { .width-phone-plus-10-vh { width: 10vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-10-vh { width: 10vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-10-vh { width: 10vh; } } @include mediaquery(desktop) { .width-desktop-10-vh { width: 10vh; } } @include mediaquery(xl) { .width-xl-10-vh { width: 10vh; } } @include mediaquery(xl2) { .width-10-vh { width: 10vh; } }
// .width-15-vh { width: 15vh; } @include mediaquery(phone) { .width-phone-15-vh { width: 15vh; } } @include mediaquery(phone-plus) { .width-phone-plus-15-vh { width: 15vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-15-vh { width: 15vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-15-vh { width: 15vh; } } @include mediaquery(desktop) { .width-desktop-15-vh { width: 15vh; } } @include mediaquery(xl) { .width-xl-15-vh { width: 15vh; } } @include mediaquery(xl2) { .width-15-vh { width: 15vh; } }
// .width-20-vh { width: 20vh; } @include mediaquery(phone) { .width-phone-20-vh { width: 20vh; } } @include mediaquery(phone-plus) { .width-phone-plus-20-vh { width: 20vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-20-vh { width: 20vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-20-vh { width: 20vh; } } @include mediaquery(desktop) { .width-desktop-20-vh { width: 20vh; } } @include mediaquery(xl) { .width-xl-20-vh { width: 20vh; } } @include mediaquery(xl2) { .width-20-vh { width: 20vh; } }
// .width-25-vh { width: 25vh; } @include mediaquery(phone) { .width-phone-25-vh { width: 25vh; } } @include mediaquery(phone-plus) { .width-phone-plus-25-vh { width: 25vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-25-vh { width: 25vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-25-vh { width: 25vh; } } @include mediaquery(desktop) { .width-desktop-25-vh { width: 25vh; } } @include mediaquery(xl) { .width-xl-25-vh { width: 25vh; } } @include mediaquery(xl2) { .width-25-vh { width: 25vh; } }
// .width-30-vh { width: 30vh; } @include mediaquery(phone) { .width-phone-30-vh { width: 30vh; } } @include mediaquery(phone-plus) { .width-phone-plus-30-vh { width: 30vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-30-vh { width: 30vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-30-vh { width: 30vh; } } @include mediaquery(desktop) { .width-desktop-30-vh { width: 30vh; } } @include mediaquery(xl) { .width-xl-30-vh { width: 30vh; } } @include mediaquery(xl2) { .width-30-vh { width: 30vh; } }
// .width-35-vh { width: 35vh; } @include mediaquery(phone) { .width-phone-35-vh { width: 35vh; } } @include mediaquery(phone-plus) { .width-phone-plus-35-vh { width: 35vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-35-vh { width: 35vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-35-vh { width: 35vh; } } @include mediaquery(desktop) { .width-desktop-35-vh { width: 35vh; } } @include mediaquery(xl) { .width-xl-35-vh { width: 35vh; } } @include mediaquery(xl2) { .width-35-vh { width: 35vh; } }
// .width-40-vh { width: 40vh; } @include mediaquery(phone) { .width-phone-40-vh { width: 40vh; } } @include mediaquery(phone-plus) { .width-phone-plus-40-vh { width: 40vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-40-vh { width: 40vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-40-vh { width: 40vh; } } @include mediaquery(desktop) { .width-desktop-40-vh { width: 40vh; } } @include mediaquery(xl) { .width-xl-40-vh { width: 40vh; } } @include mediaquery(xl2) { .width-40-vh { width: 40vh; } }
// .width-45-vh { width: 45vh; } @include mediaquery(phone) { .width-phone-45-vh { width: 45vh; } } @include mediaquery(phone-plus) { .width-phone-plus-45-vh { width: 45vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-45-vh { width: 45vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-45-vh { width: 45vh; } } @include mediaquery(desktop) { .width-desktop-45-vh { width: 45vh; } } @include mediaquery(xl) { .width-xl-45-vh { width: 45vh; } } @include mediaquery(xl2) { .width-45-vh { width: 45vh; } }
// .width-50-vh { width: 50vh; } @include mediaquery(phone) { .width-phone-50-vh { width: 50vh; } } @include mediaquery(phone-plus) { .width-phone-plus-50-vh { width: 50vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-50-vh { width: 50vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-50-vh { width: 50vh; } } @include mediaquery(desktop) { .width-desktop-50-vh { width: 50vh; } } @include mediaquery(xl) { .width-xl-50-vh { width: 50vh; } } @include mediaquery(xl2) { .width-50-vh { width: 50vh; } }
// .width-55-vh { width: 55vh; } @include mediaquery(phone) { .width-phone-55-vh { width: 55vh; } } @include mediaquery(phone-plus) { .width-phone-plus-55-vh { width: 55vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-55-vh { width: 55vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-55-vh { width: 55vh; } } @include mediaquery(desktop) { .width-desktop-55-vh { width: 55vh; } } @include mediaquery(xl) { .width-xl-55-vh { width: 55vh; } } @include mediaquery(xl2) { .width-55-vh { width: 55vh; } }
// .width-60-vh { width: 60vh; } @include mediaquery(phone) { .width-phone-60-vh { width: 60vh; } } @include mediaquery(phone-plus) { .width-phone-plus-60-vh { width: 60vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-60-vh { width: 60vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-60-vh { width: 60vh; } } @include mediaquery(desktop) { .width-desktop-60-vh { width: 60vh; } } @include mediaquery(xl) { .width-xl-60-vh { width: 60vh; } } @include mediaquery(xl2) { .width-60-vh { width: 60vh; } }
// .width-65-vh { width: 65vh; } @include mediaquery(phone) { .width-phone-65-vh { width: 65vh; } } @include mediaquery(phone-plus) { .width-phone-plus-65-vh { width: 65vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-65-vh { width: 65vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-65-vh { width: 65vh; } } @include mediaquery(desktop) { .width-desktop-65-vh { width: 65vh; } } @include mediaquery(xl) { .width-xl-65-vh { width: 65vh; } } @include mediaquery(xl2) { .width-65-vh { width: 65vh; } }
// .width-70-vh { width: 70vh; } @include mediaquery(phone) { .width-phone-70-vh { width: 70vh; } } @include mediaquery(phone-plus) { .width-phone-plus-70-vh { width: 70vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-70-vh { width: 70vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-70-vh { width: 70vh; } } @include mediaquery(desktop) { .width-desktop-70-vh { width: 70vh; } } @include mediaquery(xl) { .width-xl-70-vh { width: 70vh; } } @include mediaquery(xl2) { .width-70-vh { width: 70vh; } }
// .width-75-vh { width: 75vh; } @include mediaquery(phone) { .width-phone-75-vh { width: 75vh; } } @include mediaquery(phone-plus) { .width-phone-plus-75-vh { width: 75vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-75-vh { width: 75vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-75-vh { width: 75vh; } } @include mediaquery(desktop) { .width-desktop-75-vh { width: 75vh; } } @include mediaquery(xl) { .width-xl-75-vh { width: 75vh; } } @include mediaquery(xl2) { .width-75-vh { width: 75vh; } }
// .width-80-vh { width: 80vh; } @include mediaquery(phone) { .width-phone-80-vh { width: 80vh; } } @include mediaquery(phone-plus) { .width-phone-plus-80-vh { width: 80vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-80-vh { width: 80vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-80-vh { width: 80vh; } } @include mediaquery(desktop) { .width-desktop-80-vh { width: 80vh; } } @include mediaquery(xl) { .width-xl-80-vh { width: 80vh; } } @include mediaquery(xl2) { .width-80-vh { width: 80vh; } }
// .width-85-vh { width: 85vh; } @include mediaquery(phone) { .width-phone-85-vh { width: 85vh; } } @include mediaquery(phone-plus) { .width-phone-plus-85-vh { width: 85vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-85-vh { width: 85vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-85-vh { width: 85vh; } } @include mediaquery(desktop) { .width-desktop-85-vh { width: 85vh; } } @include mediaquery(xl) { .width-xl-85-vh { width: 85vh; } } @include mediaquery(xl2) { .width-85-vh { width: 85vh; } }
// .width-90-vh { width: 90vh; } @include mediaquery(phone) { .width-phone-90-vh { width: 90vh; } } @include mediaquery(phone-plus) { .width-phone-plus-90-vh { width: 90vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-90-vh { width: 90vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-90-vh { width: 90vh; } } @include mediaquery(desktop) { .width-desktop-90-vh { width: 90vh; } } @include mediaquery(xl) { .width-xl-90-vh { width: 90vh; } } @include mediaquery(xl2) { .width-90-vh { width: 90vh; } }
// .width-95-vh { width: 95vh; } @include mediaquery(phone) { .width-phone-95-vh { width: 95vh; } } @include mediaquery(phone-plus) { .width-phone-plus-95-vh { width: 95vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-95-vh { width: 95vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-95-vh { width: 95vh; } } @include mediaquery(desktop) { .width-desktop-95-vh { width: 95vh; } } @include mediaquery(xl) { .width-xl-95-vh { width: 95vh; } } @include mediaquery(xl2) { .width-95-vh { width: 95vh; } }
// .width-100-vh { width: 100vh; } @include mediaquery(phone) { .width-phone-100-vh { width: 100vh; } } @include mediaquery(phone-plus) { .width-phone-plus-100-vh { width: 100vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-100-vh { width: 100vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-100-vh { width: 100vh; } } @include mediaquery(desktop) { .width-desktop-100-vh { width: 100vh; } } @include mediaquery(xl) { .width-xl-100-vh { width: 100vh; } } @include mediaquery(xl2) { .width-100-vh { width: 100vh; } }
// .width-105-vh { width: 105vh; } @include mediaquery(phone) { .width-phone-105-vh { width: 105vh; } } @include mediaquery(phone-plus) { .width-phone-plus-105-vh { width: 105vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-105-vh { width: 105vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-105-vh { width: 105vh; } } @include mediaquery(desktop) { .width-desktop-105-vh { width: 105vh; } } @include mediaquery(xl) { .width-xl-105-vh { width: 105vh; } } @include mediaquery(xl2) { .width-105-vh { width: 105vh; } }
// .width-110-vh { width: 110vh; } @include mediaquery(phone) { .width-phone-110-vh { width: 110vh; } } @include mediaquery(phone-plus) { .width-phone-plus-110-vh { width: 110vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-110-vh { width: 110vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-110-vh { width: 110vh; } } @include mediaquery(desktop) { .width-desktop-110-vh { width: 110vh; } } @include mediaquery(xl) { .width-xl-110-vh { width: 110vh; } } @include mediaquery(xl2) { .width-110-vh { width: 110vh; } }
// .width-115-vh { width: 115vh; } @include mediaquery(phone) { .width-phone-115-vh { width: 115vh; } } @include mediaquery(phone-plus) { .width-phone-plus-115-vh { width: 115vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-115-vh { width: 115vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-115-vh { width: 115vh; } } @include mediaquery(desktop) { .width-desktop-115-vh { width: 115vh; } } @include mediaquery(xl) { .width-xl-115-vh { width: 115vh; } } @include mediaquery(xl2) { .width-115-vh { width: 115vh; } }
// .width-120-vh { width: 120vh; } @include mediaquery(phone) { .width-phone-120-vh { width: 120vh; } } @include mediaquery(phone-plus) { .width-phone-plus-120-vh { width: 120vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-120-vh { width: 120vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-120-vh { width: 120vh; } } @include mediaquery(desktop) { .width-desktop-120-vh { width: 120vh; } } @include mediaquery(xl) { .width-xl-120-vh { width: 120vh; } } @include mediaquery(xl2) { .width-120-vh { width: 120vh; } }
// .width-125-vh { width: 125vh; } @include mediaquery(phone) { .width-phone-125-vh { width: 125vh; } } @include mediaquery(phone-plus) { .width-phone-plus-125-vh { width: 125vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-125-vh { width: 125vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-125-vh { width: 125vh; } } @include mediaquery(desktop) { .width-desktop-125-vh { width: 125vh; } } @include mediaquery(xl) { .width-xl-125-vh { width: 125vh; } } @include mediaquery(xl2) { .width-125-vh { width: 125vh; } }
// .width-130-vh { width: 130vh; } @include mediaquery(phone) { .width-phone-130-vh { width: 130vh; } } @include mediaquery(phone-plus) { .width-phone-plus-130-vh { width: 130vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-130-vh { width: 130vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-130-vh { width: 130vh; } } @include mediaquery(desktop) { .width-desktop-130-vh { width: 130vh; } } @include mediaquery(xl) { .width-xl-130-vh { width: 130vh; } } @include mediaquery(xl2) { .width-130-vh { width: 130vh; } }
// .width-135-vh { width: 135vh; } @include mediaquery(phone) { .width-phone-135-vh { width: 135vh; } } @include mediaquery(phone-plus) { .width-phone-plus-135-vh { width: 135vh; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-135-vh { width: 135vh; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-135-vh { width: 135vh; } } @include mediaquery(desktop) { .width-desktop-135-vh { width: 135vh; } } @include mediaquery(xl) { .width-xl-135-vh { width: 135vh; } } @include mediaquery(xl2) { .width-135-vh { width: 135vh; } }

// .width-5-vw {  width: 5vw;  } @include mediaquery(phone) { .width-phone-5-vw {  width: 5vw;  } } @include mediaquery(phone-plus) { .width-phone-plus-5-vw {  width: 5vw;  } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-5-vw {  width: 5vw;  } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-5-vw {  width: 5vw;  } } @include mediaquery(desktop) { .width-desktop-5-vw {  width: 5vw;  } } @include mediaquery(xl) { .width-xl-5-vw {  width: 5vw;  } } @include mediaquery(xl2) { .width-5-vw {  width: 5vw;  } }
// .width-10-vw { width: 10vw; } @include mediaquery(phone) { .width-phone-10-vw { width: 10vw; } } @include mediaquery(phone-plus) { .width-phone-plus-10-vw { width: 10vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-10-vw { width: 10vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-10-vw { width: 10vw; } } @include mediaquery(desktop) { .width-desktop-10-vw { width: 10vw; } } @include mediaquery(xl) { .width-xl-10-vw { width: 10vw; } } @include mediaquery(xl2) { .width-10-vw { width: 10vw; } }
// .width-15-vw { width: 15vw; } @include mediaquery(phone) { .width-phone-15-vw { width: 15vw; } } @include mediaquery(phone-plus) { .width-phone-plus-15-vw { width: 15vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-15-vw { width: 15vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-15-vw { width: 15vw; } } @include mediaquery(desktop) { .width-desktop-15-vw { width: 15vw; } } @include mediaquery(xl) { .width-xl-15-vw { width: 15vw; } } @include mediaquery(xl2) { .width-15-vw { width: 15vw; } }
// .width-20-vw { width: 20vw; } @include mediaquery(phone) { .width-phone-20-vw { width: 20vw; } } @include mediaquery(phone-plus) { .width-phone-plus-20-vw { width: 20vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-20-vw { width: 20vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-20-vw { width: 20vw; } } @include mediaquery(desktop) { .width-desktop-20-vw { width: 20vw; } } @include mediaquery(xl) { .width-xl-20-vw { width: 20vw; } } @include mediaquery(xl2) { .width-20-vw { width: 20vw; } }
// .width-25-vw { width: 25vw; } @include mediaquery(phone) { .width-phone-25-vw { width: 25vw; } } @include mediaquery(phone-plus) { .width-phone-plus-25-vw { width: 25vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-25-vw { width: 25vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-25-vw { width: 25vw; } } @include mediaquery(desktop) { .width-desktop-25-vw { width: 25vw; } } @include mediaquery(xl) { .width-xl-25-vw { width: 25vw; } } @include mediaquery(xl2) { .width-25-vw { width: 25vw; } }
// .width-30-vw { width: 30vw; } @include mediaquery(phone) { .width-phone-30-vw { width: 30vw; } } @include mediaquery(phone-plus) { .width-phone-plus-30-vw { width: 30vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-30-vw { width: 30vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-30-vw { width: 30vw; } } @include mediaquery(desktop) { .width-desktop-30-vw { width: 30vw; } } @include mediaquery(xl) { .width-xl-30-vw { width: 30vw; } } @include mediaquery(xl2) { .width-30-vw { width: 30vw; } }
// .width-35-vw { width: 35vw; } @include mediaquery(phone) { .width-phone-35-vw { width: 35vw; } } @include mediaquery(phone-plus) { .width-phone-plus-35-vw { width: 35vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-35-vw { width: 35vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-35-vw { width: 35vw; } } @include mediaquery(desktop) { .width-desktop-35-vw { width: 35vw; } } @include mediaquery(xl) { .width-xl-35-vw { width: 35vw; } } @include mediaquery(xl2) { .width-35-vw { width: 35vw; } }
// .width-40-vw { width: 40vw; } @include mediaquery(phone) { .width-phone-40-vw { width: 40vw; } } @include mediaquery(phone-plus) { .width-phone-plus-40-vw { width: 40vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-40-vw { width: 40vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-40-vw { width: 40vw; } } @include mediaquery(desktop) { .width-desktop-40-vw { width: 40vw; } } @include mediaquery(xl) { .width-xl-40-vw { width: 40vw; } } @include mediaquery(xl2) { .width-40-vw { width: 40vw; } }
// .width-45-vw { width: 45vw; } @include mediaquery(phone) { .width-phone-45-vw { width: 45vw; } } @include mediaquery(phone-plus) { .width-phone-plus-45-vw { width: 45vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-45-vw { width: 45vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-45-vw { width: 45vw; } } @include mediaquery(desktop) { .width-desktop-45-vw { width: 45vw; } } @include mediaquery(xl) { .width-xl-45-vw { width: 45vw; } } @include mediaquery(xl2) { .width-45-vw { width: 45vw; } }
// .width-50-vw { width: 50vw; } @include mediaquery(phone) { .width-phone-50-vw { width: 50vw; } } @include mediaquery(phone-plus) { .width-phone-plus-50-vw { width: 50vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-50-vw { width: 50vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-50-vw { width: 50vw; } } @include mediaquery(desktop) { .width-desktop-50-vw { width: 50vw; } } @include mediaquery(xl) { .width-xl-50-vw { width: 50vw; } } @include mediaquery(xl2) { .width-50-vw { width: 50vw; } }
// .width-55-vw { width: 55vw; } @include mediaquery(phone) { .width-phone-55-vw { width: 55vw; } } @include mediaquery(phone-plus) { .width-phone-plus-55-vw { width: 55vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-55-vw { width: 55vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-55-vw { width: 55vw; } } @include mediaquery(desktop) { .width-desktop-55-vw { width: 55vw; } } @include mediaquery(xl) { .width-xl-55-vw { width: 55vw; } } @include mediaquery(xl2) { .width-55-vw { width: 55vw; } }
// .width-60-vw { width: 60vw; } @include mediaquery(phone) { .width-phone-60-vw { width: 60vw; } } @include mediaquery(phone-plus) { .width-phone-plus-60-vw { width: 60vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-60-vw { width: 60vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-60-vw { width: 60vw; } } @include mediaquery(desktop) { .width-desktop-60-vw { width: 60vw; } } @include mediaquery(xl) { .width-xl-60-vw { width: 60vw; } } @include mediaquery(xl2) { .width-60-vw { width: 60vw; } }
// .width-65-vw { width: 65vw; } @include mediaquery(phone) { .width-phone-65-vw { width: 65vw; } } @include mediaquery(phone-plus) { .width-phone-plus-65-vw { width: 65vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-65-vw { width: 65vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-65-vw { width: 65vw; } } @include mediaquery(desktop) { .width-desktop-65-vw { width: 65vw; } } @include mediaquery(xl) { .width-xl-65-vw { width: 65vw; } } @include mediaquery(xl2) { .width-65-vw { width: 65vw; } }
// .width-70-vw { width: 70vw; } @include mediaquery(phone) { .width-phone-70-vw { width: 70vw; } } @include mediaquery(phone-plus) { .width-phone-plus-70-vw { width: 70vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-70-vw { width: 70vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-70-vw { width: 70vw; } } @include mediaquery(desktop) { .width-desktop-70-vw { width: 70vw; } } @include mediaquery(xl) { .width-xl-70-vw { width: 70vw; } } @include mediaquery(xl2) { .width-70-vw { width: 70vw; } }
// .width-75-vw { width: 75vw; } @include mediaquery(phone) { .width-phone-75-vw { width: 75vw; } } @include mediaquery(phone-plus) { .width-phone-plus-75-vw { width: 75vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-75-vw { width: 75vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-75-vw { width: 75vw; } } @include mediaquery(desktop) { .width-desktop-75-vw { width: 75vw; } } @include mediaquery(xl) { .width-xl-75-vw { width: 75vw; } } @include mediaquery(xl2) { .width-75-vw { width: 75vw; } }
// .width-80-vw { width: 80vw; } @include mediaquery(phone) { .width-phone-80-vw { width: 80vw; } } @include mediaquery(phone-plus) { .width-phone-plus-80-vw { width: 80vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-80-vw { width: 80vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-80-vw { width: 80vw; } } @include mediaquery(desktop) { .width-desktop-80-vw { width: 80vw; } } @include mediaquery(xl) { .width-xl-80-vw { width: 80vw; } } @include mediaquery(xl2) { .width-80-vw { width: 80vw; } }
// .width-85-vw { width: 85vw; } @include mediaquery(phone) { .width-phone-85-vw { width: 85vw; } } @include mediaquery(phone-plus) { .width-phone-plus-85-vw { width: 85vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-85-vw { width: 85vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-85-vw { width: 85vw; } } @include mediaquery(desktop) { .width-desktop-85-vw { width: 85vw; } } @include mediaquery(xl) { .width-xl-85-vw { width: 85vw; } } @include mediaquery(xl2) { .width-85-vw { width: 85vw; } }
// .width-90-vw { width: 90vw; } @include mediaquery(phone) { .width-phone-90-vw { width: 90vw; } } @include mediaquery(phone-plus) { .width-phone-plus-90-vw { width: 90vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-90-vw { width: 90vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-90-vw { width: 90vw; } } @include mediaquery(desktop) { .width-desktop-90-vw { width: 90vw; } } @include mediaquery(xl) { .width-xl-90-vw { width: 90vw; } } @include mediaquery(xl2) { .width-90-vw { width: 90vw; } }
// .width-95-vw { width: 95vw; } @include mediaquery(phone) { .width-phone-95-vw { width: 95vw; } } @include mediaquery(phone-plus) { .width-phone-plus-95-vw { width: 95vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-95-vw { width: 95vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-95-vw { width: 95vw; } } @include mediaquery(desktop) { .width-desktop-95-vw { width: 95vw; } } @include mediaquery(xl) { .width-xl-95-vw { width: 95vw; } } @include mediaquery(xl2) { .width-95-vw { width: 95vw; } }
// .width-100-vw{ width: 10vw; } @include mediaquery(phone) { .width-phone-100-vw{ width: 10vw; } } @include mediaquery(phone-plus) { .width-phone-plus-100-vw{ width: 10vw; } } @include mediaquery(tablet-portrait) { .width-tablet-portrait-100-vw{ width: 10vw; } } @include mediaquery(tablet-landscape) { .width-tablet-landscape-100-vw{ width: 10vw; } } @include mediaquery(desktop) { .width-desktop-100-vw{ width: 10vw; } } @include mediaquery(xl) { .width-xl-100-vw{ width: 10vw; } } @include mediaquery(xl2) { .width-100-vw{ width: 10vw; } }

.font-style-italic,
.font-style-italic p {
	font-style: italic;
}

.underline {
	// for use in WYSIWYG as <u></u> was deprecated in 4.7+
	display: inline;
	font-family: inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	line-height: inherit;
	text-decoration:underline;
}

.uppercase {
	text-transform: uppercase;
}
