address, 
.footer-link {
	font-size: px-to-rem(14px);
	display: block;
	font-style: normal;
	line-height: 1.4;
	@include primary-regular;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;

	@include mediaquery(desktop)  {
		&:hover {
		}
	}
}

del {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
}


em, i {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
}

hr {
	background: color('secondary', 'lighterGray');
	border: 0;
	height: 1px;
	margin: 25px auto;
}

.link {
	color: color('text', 'link');
	text-decoration: none;
	transition: color .3s ease-out;

	@include mediaquery(desktop) {
		&:hover {
			color: color('text', 'hover');
		}
	}
}

p {
	@include primary-regular;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 1.3;
	margin-bottom: $gap;

	a {
		@extend .link;
	} 
}

small {
	font-size: 12px;
}

span {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

strong, b {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
}

th, tr, td {
	color: inherit;
}

u {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
}

// TODO: Notate the distinction between body and body1. -DP
.body1, 
.body {
	@extend p;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.error {
	@extend .body;
	color: red;
}

.headline1,
.is-style-headline1 {
	@include secondary-semi;
	@include font-size($font-size-headline1);
	letter-spacing: -.5px;
	line-height: 1.25;
}	

.headline2,
.is-style-headline2 {
	@include secondary-semi;
	@include font-size($font-size-headline2);
	letter-spacing: -.5px;
	line-height: 1.375;
}	

.headline3,
.is-style-headline3 {
	@include primary-semi;
	@include font-size($font-size-headline3);
	line-height: 1.25;
}

.headline4,
.is-style-headline4 {
	@include primary-semi;
	@include font-size($font-size-headline4);
	line-height: 1.41;
}	

.headline5,
.is-style-headline5 {
	@include primary-semi;
	@include font-size($font-size-headline5);
	letter-spacing: .2px;
	line-height: 1.3;
}

.headline6,
.is-style-headline6 {
	@include primary-semi;
	@include font-size($font-size-headline6);
	line-height: 1.4;
	letter-spacing: .2px;
}

.list-columns, 
.is-style-list-columns {
	column-count: 2;
	column-gap: $gap;
	column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid;

	@include mediaquery(tablet-landscape) {
		column-gap: $gap*10;
	}
}

.lowercase {
	text-transform: lowercase;
}

.nocase {
	text-transform: none;
}

// For use in WYSIWYG
.strikethrough {
	display: inline;
	font-family: inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	line-height: inherit;
	text-decoration: line-through;
}

.text-columns, 
.is-style-text-columns {
	column-gap: $gap;

	@include mediaquery(tablet-landscape) {
		break-inside: avoid;
		column-count: 2;
		column-gap: $gap*15;
		column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
	}
}

.underline {
	// for use in WYSIWYG as <u></u> was deprecated in 4.7+
	display: inline;
	font-family: inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	line-height: inherit;
	text-decoration:underline;
}

.uppercase {
	text-transform: uppercase;
}
