//fonts
// @import url("//fontlibrary.org/face/cooper-hewitt");

@font-face {
	font-family: 'MaisonNeue-Book';
	src: 	url('../fonts/MaisonNeue-Book.woff') format('woff'),
			url('../fonts/MaisonNeue-Book.woff2') format('woff2'); 
}

@font-face {
	font-family: 'MaisonNeue-BookItalic';
	src: 	url('../fonts/MaisonNeue-BookItalic.woff') format('woff'),
			url('../fonts/MaisonNeue-BookItalic.woff2') format('woff2'); 
}

@font-face {
	font-family: 'MaisonNeueExtended-Bold';
	src: 	url('../fonts/MaisonNeueExtended-Bold.woff') format('woff'),
			url('../fonts/MaisonNeueExtended-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: 'MaisonNeueMono-Regular';
	src: 	url('../fonts/MaisonNeueMono-Regular.woff') format('woff'),
			url('../fonts/MaisonNeueMono-Regular.woff2') format('woff2'); 
}

@font-face {
	font-family: 'MaisonNeue-Bold';
	src: 	url('../fonts/MaisonNeue-Bold.woff') format('woff'),
			url('../fonts/MaisonNeue-Bold.woff2') format('woff2'); 
}

// Font Mixins
// ======



@mixin sans-serif-regular {
	font-family: "MaisonNeue-Book", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

@mixin sans-serif-italic {
	font-family: "MaisonNeue-BookItalic", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

@mixin sans-serif-semi {
	font-family: "MaisonNeue-Bold", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

@mixin sans-serif-bold {
	font-family: "MaisonNeueExtended-Bold", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

@mixin sans-serif-mono {
	font-family: "MaisonNeueMono-Regular", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}
// Grid and Responsive
// ===================
$gap						: 20px;
$siteWidth					: 1024px;
$navMobileHeight				: 115px;
$navHeightScrolled		: 75px;
$navHeight			: 170px;

$tablet-portrait-breakpoint	: 768px;
$tablet-landscape-breakpoint: 1024px;
$desktop-breakpoint			: 1200px;
$large-desktop-breakpoint	: 1440px;
$nav-breakpoint				: 1024px;

// Colors
// ======
$brand-color-key: 'red' !default;
$brand-colors: (
	'debug': (
		'red': 				#f00
	),
	'standard': (
		'black': 			#000000,
		'white':			#ffffff,
		'gray': 			#DDDDDD,
		'light-gray': 		rgba(0, 0, 0, .4),
	),
	'accent':(
		'red':				#f84d01,
		'gray-border':		#dddddd,
		'dark-border':		#979797
	),
	'social':(
		'facebook':			#3b5998,
		'twitter':			#1da1f2
	),
	'misc':(
		'black-opacity': 	rgba(0, 0, 0, .82)
	),
	'gradients': (
		 'pink-blue':			linear-gradient(to bottom, #ee21a3 0%,#35139f 100%),
		 'pink-blue-horiz':		linear-gradient(to left, #ee21a3 0%,#35139f 100%),
		 'orange':				linear-gradient(to bottom, #ffc027 0%,#ee21a3 100%),
		 'orange-horiz':		linear-gradient(to right, #ffc027 0%,#ee21a3 100%),
		 'blue':				linear-gradient(to bottom, #21aaf3 0%,#35139f 100%),
		 'blue-horiz':			linear-gradient(to right, #21aaf3 0%,#35139f 100%),
		 'light-pink-blue':		linear-gradient(to bottom, #ee21a3 0%,#21aaf3 100%),
		 'light-pink-blue-horiz': linear-gradient(to right, #ee21a3 0%,#21aaf3 100%),
	)
);

// Standard colors
// ===============
$white: #FFFFFF;
$black: #000000;

@function color($key: 'debug', $variant: $brand-color-key) {
	$color: null;
	$color-spectrum: map-get($brand-colors, $key);

	@if $color-spectrum {
			$color: map-get($color-spectrum, $variant);
	}

	@return $color;
}

// Utility variables
// ===============

$positions: top, bottom, left, right;
$paddings: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 130, 170;
$screensizes: mobile, tablet-portrait, tablet-landscape, desktop, xl, 2xl;

// Generate background and text color classes based on the color map.
//
// Classes are named as follows:
//
// 		.background-key-variant
// 		.color-color-key-variant
//
// For example:
//
// 		.background-green-base
// 		.color-color-high-textDull
//
@each $key, $map in $brand-colors {
	@each $variant, $color in $map {
		.background-#{$variant} {
			background-color: #{$color};
		}

		.component-theme-#{$variant} {
			background: #{$color};
		}

		.body-theme-#{$variant} {
			background: #{$color};
		}

		.color-#{$key}-#{$variant} {
			color: #{$color};
		}

		.row-text-white, .row-text-black {
			.color-#{$key}-#{$variant} {
				color: #{$color};
			}

			.background-#{$key}-#{$variant} {
				background-color: #{$color};
			}
		}
	}
}



// Responsive Font Size Map
// ========================
// $font-size-headline1: (
// 	null  : 48px,
// 	768px : 48px,
// 	1024px: 72px,
// 	1025px: 72px
// );
