/** 
 * Global Footer Styles 
 * — Override with custom styles in child theme
 **/
.component-footer {
	padding-bottom: $gap*4;
	padding-top: $gap;

	// Remove underline on footer links.
	a {
		text-decoration: none;
	}

	.logo-wrapper {
		display: block;
		width: 136px;
	}

	.menu-item {
		display: block;
		font-size: px-to-rem(16px);
		margin-bottom: $gap;
		@include primary-bold;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.menu-items {
		a[href='#…'] {
			visibility: hidden;
		}
	}

	.footer-link {
		margin-bottom: $gap*.25;
	}
}

a[href="https://attck.com"] {
	color: white;
	text-decoration: none;
}
