#skipToMainContent {
	background: white;
	border: 2px solid grey;
	color: black;
	display: block;
	font-size: 1rem;
	left: $gap;
	opacity: 0;
	padding: $gap $gap*1.5;
	position: absolute;
	top: $gap;
	// visibility: hidden;
	z-index: 999;

	&:focus {
		opacity: 1;
		// visibility: visible;
	}
}

// https://css-tricks.com/the-focus-visible-trick/
:focus:not(:focus-visible) { outline: none }


/* Focusing the button with a keyboard will show a dashed black line. */
button:focus-visible,
input[type="submit"]:focus-visible {
	outline: 2px solid #0d53c2;
}
  
/* Focusing the button with a mouse, 
// touch, or stylus will show a subtle drop shadow. */
button:focus:not(:focus-visible),
input[type="submit"]:focus:not(:focus-visible) {
	box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
	outline: none;
}