.component-image {
	.image-wrapper {
		@include clearRow;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
		width: auto;
	} 

	.align-center {
		img {
			margin: 0 auto;
		}
	}

	.align-right {
		img {
			float: right;
		}
	}
}
