.component-image {
	.image-wrapper {
		@include clearRow;
	}

	figcaption {
		line-height: 1.3rem;
		margin : $gap auto;
		text-align: center;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
		width: auto;

		.block-align-center &,
		.block-align-center & {
			margin-left: auto;
			margin-right: auto;
		}
	} 

	.align-center,
	&.align-center,
	&.block-align-center {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.align-right,
	&.align-right {
		img {
			float: right;
		}
	}
}
