.component-image {
	display: inline-block;
	width: auto;

	.image-wrapper {
		@include clearRow;
	}

	figcaption {
		line-height: 1.3rem;
		margin : $gap auto;
		text-align: center;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
		
		// NOTE: (DP) Defaulting to 100% image width as the image 
		// component has a container where width can be defined.
		// NOTE: (DP) On second thought, adding a width-100pc specific class 
		// to override edge-cases where necessary as it causes too much 
		// distortion on average to other images.
		// width: 100%;

		width: auto;

		.block-align-center &,
		.block-align-center & {
			margin-left: auto;
			margin-right: auto;
		}
	} 

	.align-center,
	&.align-center,
	&.block-align-center {
		display: block;

		img {
			margin-left: auto;
			margin-right: auto;
		}

		.image-wrapper {
			display: block;
		}
	}

	.align-right,
	&.align-right {
		img {
			float: right;
		}
	}
}

// Prevents button elements from taking up 100% width
.block-editor-block-list__block[aria-label="Block: Image"] {
	width: auto;
}
