.component-paragraph {
	a {
		color: color('text', 'link');
		text-decoration: none;
		transition: color .05s ease-out;

		@include mediaquery(desktop) {
			&:hover {
				opacity: 1;
				color: color('text', 'hover');
			}
		}

		[data-logo-color="logo-color-light"] & {
			color: color('text', 'hover');

			@include mediaquery(desktop) {
				&:hover {
					opacity: 1;
					color: color('secondary', 'white');
				}
			}
		}

		.links-white & {
			color: color('secondary', 'white');
		}
	}

	&.component-paragraph {
		p {
			color: inherit;

			a {
				color: inherit;
			}
		}

		a {
			color: inherit;
		}
	}
}
