.component-paragraph {
	a {
		color: color('text', 'link');
		text-decoration: none;
		transition: color .05s ease-out;

		@include mediaquery(desktop) {
			&:hover {
				opacity: 1;
				color: color('text', 'hover');
			}
		}

		.links-white & {
			color: color('secondary', 'white');
		}
	}

	.is-style-body1,
	.is-style-body1 p {
		@extend .body1 !optional;
	}

	.is-style-body2,
	.is-style-body2 p {
		@extend .body2 !optional;
	}

	.is-style-body3,
	.is-style-body3 p {
		@extend .body3 !optional;
		color: blue;
	}

	&.is-style-text-columns .mce-content-body {
		@extend .text-columns;
	}
}
