//Button styles for Gutenberg Editor
.component-button-editor {
	.button {
		@extend .button;

		&.is-style-button-secondary {
			@extend .button-secondary;
		}

		&.is-style-button-tertiary {
			@extend .button-tertiary;
		}

		&.is-style-button-negative {
			@extend .button-negative;
		}
	}

	.wp-block-button__link {
		@extend .button;
		overflow: inherit;
		border-radius: 0;
	}

	.editor-rich-text__tinymce[data-is-placeholder-visible=true].wp-block-button__link {
		position: absolute;
		background: transparent;
		border:0;
	}

	&.align-center {
		text-align: center;
	}

	&.align-left {
		text-align: left;
	}

	&.align-right {
		text-align: right;
	}
}


.editor-block-styles__item[role="button"][aria-label="Negative"],
.editor-block-styles__item[role="button"][aria-label="Tertiary"] {
	.editor-block-styles__item-preview {
		background-color: color('background', 'primary');
	}
}