//Button styles for Gutenberg Editor
.component-button-editor {
	.button {
		@extend .button;

		&.is-style-button-secondary {
			@extend .button-secondary;
		}

		&.is-style-button-tertiary {
			@extend .button-tertiary;
		}
	}

	.wp-block-button__link {
		@extend .button;
		overflow: inherit;
	}

	.editor-rich-text__tinymce[data-is-placeholder-visible=true].wp-block-button__link {
		position: absolute;
		background: transparent;
		border:0;
	}

	&.align-center {
		text-align: center;
	}

	&.align-left {
		text-align: left;
	}

	&.align-right {
		text-align: right;
	}
}