.component-button {
	display: inline-block;
	width: auto;
}

.cta.cta.cta, 
.is-style-cta.is-style-cta.is-style-cta {
	@include primary-regular;
	@include font-size($font-size-body-text);
	background-color: color('secondary', 'white');
	border-color: color('text', 'body');
	border-radius: $buttonBorderRadius;
	border: 1px solid color('secondary', 'white');
	box-shadow: none;
	box-sizing: border-box;
	color: color('text', 'body');
	cursor: pointer;
	display: inline-block;
	font-size: px-to-rem(16px);
	line-height: 1;
	overflow: hidden;
	padding: $gap*2 $gap*4;
	position: relative;
	transition: background .4s ease-out, border-color .4s ease-out;
	text-align: center;
	z-index: 2;

	[data-logo-color="logo-color-dark"] & {
		border-color: color('text', 'body');	
	}

	@include mediaquery(desktop) {
		&:hover {
			background: color('brand', 'accent');
			border-color: color('brand', 'accent');
			color: color('text', 'body');
		}
	}

	&.cta-solid, 
	&.is-style-cta-solid {
		background-color: color('secondary', 'white');
		border-color: color('secondary', 'white');
		color: color('text', 'body');

		[data-logo-color="logo-color-dark"] & {
			border-color: color('text', 'body');	
		}

		@include mediaquery(desktop) {
			&:hover {
				background: color('brand', 'accent');
				border-color: color('brand', 'accent');
			}
		}
	}

	&.cta-accent, 
	&.is-style-cta-accent {
		border-color: color('brand', 'accent');
		background-color: color('brand', 'accent');
		color: color('secondary', 'white');
		float: left;
		transition: all .4s ease-out;
		white-space: nowrap;
		width: auto;

		@include mediaquery(desktop) {
			&:hover {
				background: color('secondary', 'white');
				border-color: color('secondary', 'white');
				color: color('brand', 'accent');

				[data-logo-color="logo-color-dark"] & {
					border-color: color('brand', 'accent');
				}
			}
		}
	}

	&.cta-negative, 
	&.is-style-cta-negative {
		background: transparent;
		border-color: color('brand', 'accent');
		color: color('secondary', 'white');
		opacity: 1;
		transition: all .3s ease-out;

		[data-logo-color="logo-color-dark"] & {
			border-color: color('brand', 'accent');
			color: color('text', 'body');
		}
		
		@include mediaquery(desktop) {
			&:hover {
				background: color('brand', 'accent');
				border-color: color('brand', 'accent');
				color: color('secondary', 'white');

				[data-logo-color="logo-color-dark"] & {
					color: color('text', 'body');
				}
			}
		}
	}

	&.cta-disabled,
	&.cta-inactive {
		opacity: .5;
		pointer-events: none;
	}

	&.cta-small,
	&.is-style-cta-small {
		font-size: 0.77692rem;
		font-weight: 600;
		letter-spacing: 0.10rem;
		line-height: 0.5rem;
		min-height: auto;
		padding: $gap*2 $gap*4;
	}

	&.round {
		border-radius: $gap*4;
	}
}
