/**** Button Styles ****/
.front-end, .mce-content-body, .editor-block-styles {
	.button, .is-style-button-default {
		background-color: $black;
		border-color: $black;
		border-radius: 0;
		border: 1px solid $black;
		box-shadow: none;
		box-sizing: border-box;
		color: $white;
		cursor: pointer;
		display: inline-block;
		font-size: px-to-rem(16px);
		line-height: 1;
		min-height: 50px;
		overflow: hidden;
		padding: 10px 25px 9px;
		position: relative;
		transition: background .4s ease-out, color .4s ease-out;
		text-align: center;
		z-index: 2;

		@include mediaquery(desktop) {
			&:hover {
				color: $black;
				background: $white;
			}
		}

		&.button-inactive {
			pointer-events: none;
			opacity: .5;
		}

		&.button-secondary, &.is-style-button-secondary {
			color: $black;
			background: color('background', 'secondary');
			
			@include mediaquery(desktop)  {
				&:hover {
					color: $white;
					background: $black;
				}
			}
		}

		&.button-tertiary, &.is-style-button-tertiary {
			color: $black;
			background: $white;
			
			@include mediaquery(desktop)  {
				&:hover {
					color: $white;
					background: $black;
				}
			}
		}

		&.button-negative, &.is-style-button-negative {
			border-color: $white;
			color: $white;
			background: transparent;
			opacity: 1;
			transition: opacity .3s ease-out;
			
			@include mediaquery(desktop)  {
				&:hover {
					opacity: .5;
				}
			}
		}
	}


}
