.component-button {
	// TODO: Add button styles here. -DP
}

.cta, 
.is-style-cta {
	@include primary-regular;
	@include font-size($font-size-body-text);
	background-color: transparent;
	border-color: color('secondary', 'black');
	border-radius: 0;
	border: 1px solid color('secondary', 'black');
	box-shadow: none;
	box-sizing: border-box;
	color:  color('secondary', 'black');
	cursor: pointer;
	display: inline-block;
	font-size: px-to-rem(16px);
	line-height: 1;
	min-height: 50px;
	overflow: hidden;
	padding: 10px 25px 9px;
	position: relative;
	transition: background .4s ease-out, border-color .4s ease-out;
	text-align: center;
	z-index: 2;

	@include mediaquery(desktop) {
		&:hover {
			background: color('brand', 'accent');
			border-color: color('brand', 'accent');
		}
	}

	&.cta-solid, 
	&.is-style-cta-solid {
		background-color: color('secondary', 'white');
		color:  color('secondary', 'black');

		@include mediaquery(desktop) {
			&:hover {
				background: color('brand', 'accent');
				border-color: color('brand', 'accent');
			}
		}
	}

	&.cta-accent, 
	&.is-style-cta-accent {
		border-color: color('brand', 'accent');
		background-color: color('brand', 'accent');
		color: color('secondary', 'white');
		transition: background .4s ease-out, border-color .4s ease-out, color .4s ease-out;

		@include mediaquery(desktop) {
			&:hover {
				background: color('secondary', 'white');
				border-color: color('secondary', 'white');
				color: color('brand', 'accent');
			}
		}
	}

	&.cta-negative, 
	&.is-style-cta-negative {
		background: transparent;
		border-color: color('secondary', 'white');
		color: color('secondary', 'white');
		opacity: 1;
		transition: opacity .3s ease-out;
		
		@include mediaquery(desktop)  {
			&:hover {
				background: transparent;
				border-color: color('secondary', 'white');
				opacity: .5;
			}
		}
	}

	&.cta-disabled,
	&.cta-inactive {
		opacity: .5;
		pointer-events: none;
	}

	&.cta-small {
		font-size: 0.77692rem;
		font-weight: 600;
		letter-spacing: 0.14rem;
		min-height: auto;
		padding: 14px 29px;
	}

	&.round {
		border-radius: $gap*4;
	}
}
