.component-carousel {
	.slides.slides.slides {
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;
		width: 100%;
	}

	.slide {
		height: 100%;
		opacity: 0;
		position: absolute;
		transition: opacity 1s ease-in-out;
		top: 0;
		width: 100%;
		z-index: 1;

		&.active {
			opacity: 1;
			position: relative;
			z-index: 2;
		}

		&.next,
		&.previous {
			opacity: 0;
		}
	}

	.nav {
		font-style: italic;
		font-size: px-to-rem(20px);
		font-family: $primaryRegular;
		letter-spacing: 0.6px;
		top: 50%;
		z-index: 100;

		&.prev {
			&:before {
				background: url(../assets/images/Carousel_Arrow.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				border-radius: 100%;
				display: inline-block;
				content: '';
				height: 35px;
				margin-right: 10px;
				width: 35px;
			}
		}

		&.next {
			&:after {
				background: url(../assets/images/Carousel_Arrow.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				border-radius: 100%;
				content: '';
				display: inline-block;
				height: 35px;
				margin-left: 10px;
				width: 35px;
			}
		}
	}

	.dots-component {
		display: flex;
		margin-top: 40px;
		justify-content: center;
		visibility: hidden;
		width: 100%;

		.dot {
			a {
				background-color: #221F1F;
				border-radius: 50%;
				cursor: pointer;
				display: block;
				height: 5px;
				width: 5px;
			}

			&:not(.active) {
				opacity: 0.3;
			}

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}