.component-gdpr {
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: $gap*4;
	bottom: 16px;
	height: auto;
	left: 16px;
	padding: 0;
	position: fixed;
	right: 16px;
	width: auto;
	z-index: 999;

	@include mediaquery(tablet-portrait) {
		bottom: $gap*2;
		left: auto;
		right: $gap*2;
	}

	.body-text {
		p {
			color: color('secondary', 'white');
			font-size: px-to-rem(13px);
			line-height: 1.6;

			a {
				color: color('brand', 'accent');

				@include mediaquery(desktop) {
					&:hover {
						color: #ffc639;
					}
				}
			}
		}

		.gdprAgree {
			font-size: px-to-rem(13px);
			min-height: 40px;
			min-width: 130px;
			padding: 12px 14px 11px;
		}
	}

	.gdpr-message {
		align-items: center;
		display: flex;
		justify-content: space-evenly;
		padding: $gap*.5 $gap;

		@include mediaquery(phone-plus) {
			padding: $gap $gap $gap $gap*2;
		}

		p {
			@include secondary-light;
			color: rgba(255, 255, 255, 1);
			display: block;
			font-size: 0.9rem;
			font-style: normal;
			height: auto;
			line-height: 1.1rem;
			margin: 0;
			opacity: .5;
			padding: 0;
			position: relative;
			transition: opacity .2s;

			// Don't fade out text on touch devices
			@include mediaquery-max-device-width(tablet-landscape) {
				opacity: 1;
			}

			@include mediaquery(phone-plus) {
				margin-right: 16px;
				padding: 0 10px 0 20px;
			}

			@include mediaquery(tablet-portrait) {
				font-size: inherit;
				padding: 0;
			}
		}

		.cta {
			min-width: 90px;
			opacity: .5;
			padding: 11px 10px 8px 10px;
			transform: scale(.8);
			transition: opacity .2s;

			// Don't fade out text on touch devices
			@include mediaquery-max-device-width(tablet-landscape) {
				opacity: 1;
			}

			@include mediaquery(tablet-portrait) {
				min-width: 110px;
				transform: scale(1);
			}

			@include mediaquery(tablet-landscape) {
				min-width: 120px;
			}

			@include mediaquery(desktop) {
				min-width: 150px;
			}
		}
	}

	&:hover {
		.gdpr-message {
			p {
				opacity: 1;
			}
		}

		.cta {
			opacity: 1;
		}
	}

	&.hideGDPR {
		display: none;
	}
}
