/**** Headline Styles ****/

.headline1 {
	line-height: 1.25;
	letter-spacing: -.5px;
	@include secondary-semi;
	@include font-size($font-size-headline1);
}	

.headline2 {
	line-height: 1.375;
	letter-spacing: -.5px;
	@include secondary-semi;
	@include font-size($font-size-headline2);
}	

.headline3 {
	line-height: 1.25;
	@include primary-semi;
	@include font-size($font-size-headline3);
}

.headline4 {
	line-height: 1.41;
	@include primary-semi;
	@include font-size($font-size-headline4);
}	

.headline5 {
	line-height: 1.3;
	letter-spacing: .2px;
	@include primary-semi;
	@include font-size($font-size-headline5);
}

.headline6 {
	line-height: 1.4;
	letter-spacing: .2px;
	@include primary-semi;
	@include font-size($font-size-headline6);
}