//basic section

.component-basic-section {
	min-height: 100vh;
	padding-bottom: $gap*10;
	@include flexbox(flex);
	@include flexbox-align-items(flex-end);

	@include mediaquery(tablet-portrait) {
		min-height: 0;
		padding: $gap*22.5 0;
		@include verticalCenter;
	}

	&.component-basic-section-right {
		@include mediaquery(tablet-portrait) {
			@include flexbox-justify-content(flex-end);
		}
	}

	.headline2 {
		margin-bottom: $gap*3;
	}

	.content-wrapper {
		@include mediaquery(tablet-portrait) {
			width: 65%;
		}

		@include mediaquery(desktop) {
			width: 42%;
		}

	}
}