.component-nestio {
	max-width: 1024px;
	margin: 0 auto;
	min-height: 60vh;
	padding: $gap $gap $gap*6;

	@include mediaquery(desktop) {
		padding: $gap 0 $gap*6;
	}

	.nestio-filters {
		border-bottom: 2px solid white;
		padding:0 $gap $gap;
		margin:0 auto $gap;

		@include mediaquery(tablet-landscape){
			padding: 0 0 $gap*1.5 0;
			margin-bottom: $gap*1.5;
		}
	}

	.circle-button {
		display: inline-block;
		margin-right: 12%;
		font-size: 16px;

		@include mediaquery(tablet-landscape) {
			margin-right: 8%;
			font-size: 20px;
		}

		&:last-child {
			margin-right: 0;
		}

		&.activeFilter:before {
			background-color: white;
		}


		.desktop-label {
			display: none;

			@include mediaquery(tablet-portrait) {
				display: block;
			}
		}

		.mobile-label {
			display: block;

			@include mediaquery(tablet-portrait) {
				display: none;
			}
		}
	}

	.residences-wrapper {
		@include transition(max-height .2s ease-out);

		.arrow {
			display: none;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: -80px;
			@include transform(rotate(90deg));
			transform-orgin: center center;
			@include transition(all .2s ease-out);

			@include mediaquery(tablet-landscape) {
				display: block;
			}

			&:before, &:after {
				background-color: white;
			}
		}

		&.showMoreResidences {
			.arrow {
				@include transform(rotate(-90deg));
			}
		}
	}

	.residences-table {
		width: 88%;
		margin: 0 auto;
		color: white;

		p, h5, h2 {
			color: white;
			font-size: 14px;
			text-transform: uppercase;
			text-align: left;
			margin-bottom: 0;
			padding-bottom: $gap;
			line-height: 1.2;
			letter-spacing: .91px;
		
			@include mediaquery(tablet-landscape) {
				font-size: 20px;
			}
		}

		h5 {
			display: block;

			@include mediaquery(tablet-landscape) {
				display: none;
			}
		}

		p {
			font-size: 12px;

			@include mediaquery(tablet-landscape) {
				font-size: 14px;
			}
		}

		.residences-header {
			display: none;

			@include mediaquery(tablet-landscape) {
				@include flexbox(flex);
				@include flexbox-justify-content(space-between);
			}
		}

		.residences-label h2 {
			padding-bottom: $gap;
		}

		.residences-label, .residence-listing {

			@include mediaquery(tablet-landscape) {
				width: 14.4%;
			}
		}
		
		.features {
			@include mediaquery(tablet-landscape) {
				width: 35%;
			}
		}

		// .floorplan {
		// 	@include mediaquery(tablet-landscape) {
		// 		width: 12.25%;
		// 	}
		// }

		.apply {
			@include mediaquery(tablet-landscape) {
				width: 9.3%;
			}
		}

		.residence-listing {
			@include flexbox(flex);
			@include flexbox-justify-content(space-between);

			@include mediaquery(tablet-landscape) {
				display: block;
			}

			&.features {
				p {
					max-width: 70%;
					text-align: right;

					@include mediaquery(tablet-portrait) {
						max-width: 50%;
					}

					@include mediaquery(tablet-landscape) {
						max-width: 95%;
						text-align: left;
					}
				}
			}
		}

		.residence-row {
			border-bottom: 1px solid rgba(255, 255, 255, .5);
			margin-bottom: $gap*1.25;
			opacity: 1;
			@include transition(opacity .4s ease-out);

			@include mediaquery(tablet-landscape) {
				border: 0;
				margin-bottom: 0;
				@include flexbox(flex);
				@include flexbox-justify-content(space-between);

			}
			
			&:nth-child(n+4) {
				@include mediaquery(tablet-landscape) {
					opacity: .5;
				}
			}

			&.hideRow {
				display: none;
			}

			&.showRow {
				opacity: 1;
			}
		}

		.no-matches {
			display: none;

			.residence-listing {
				width: 100%;

				p {
					text-align: center;
					width: 100%;
				}
			}

			&.showRow {
				@include flexbox(flex);
			}
		}

	}

	.showMoreResidences {
		.residence-row {
			&:nth-child(n+4) {
				opacity: 1;
			}

			&:nth-child(n+5) {
				opacity: 1;
			}
		}
	}

	.showFloorPlan {
		cursor: pointer;
	}

	.floorplan-popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .8);
		height: 100vh;
		z-index: 1000;

		&.openFloorPlan {
			@include flexbox(flex);
			@include flexbox-align-items(center);
			@include flexbox-justify-content(center);
		}

		img {
			width: 80%;
			margin: 0 auto;
		}

		.close {
			right: $gap;
			top: $gap;
		}
	}
}