.component-calendarlink {
	
}

.addeventatc {
	left: 0 !important;
	position: absolute !important;
	right: 0 !important;
	text-align: center !important;
    
	touch-events: none;
	visibility: hidden !important;

	&.visible {
		touch-events: initial;
		visibility: visible !important;
	}
}
