.component-header {
	background-color: color('brand', 'primary');
	height: $navMobileHeight;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all .3s ease-in;
	width: 100%;
	z-index: 1000;

	@include mediaquery(tablet-landscape) {
		align-items: center;
		display: flex;
		height: $navHeight;
	}

	.hamburger-wrapper {
		height: $navMobileHeight;
		right: 0;
		width: $navMobileHeight;

		@include mediaquery(tablet-landscape) {
			display: none;
		}
		
		.navOpen & {
			background: color('default', 'black');
		}
	}

	.hideNav & {
		top: -($navMobileHeight);

		@include mediaquery(tablet-landscape) {
			top: -($navHeight);
		}
	}

	.backgroundNav &, 
	.backgroundNav.hideNav & {
		background: color('brand', 'primary', 0.5);
		height: calc($navMobileHeight * .8);
		top: 0;
	}

	.header-inner {
		align-items: center;
		display: flex;
		height: 100%;
		margin: 0 auto;
		max-width: 100vw;
		padding: 0 $gap*2;
		width: 100%;
		
		@include mediaquery(tablet-portrait) {
			max-width: 96vw;
		}

		@include mediaquery(desktop) {
			max-width: $siteWidth;
			padding: $gap*.75 0;
		}
	}

	.logo-wrapper {
		display: block;
		max-height: 80px;
		max-width: 40vw;
		position: relative;
		z-index: 10;

		@include mediaquery(phone-plus) {
			max-width: 30vw;
		}

		@include mediaquery(tablet-portrait) {
			max-width: 20vw;
		}

		@include mediaquery(tablet-landscape) {
			max-width: 10vw;
		}

		.nav-logo {
			display: block;
		}

		.nav-logo-light {
			display: none;
		}

		.logoLight & {
			.nav-logo {
				display: none;

				&.nav-logo-light {
					display: block;
				}
			}
		}

		.backgroundNav.logoDark & {
			.nav-logo-dark {
				opacity: 1;
			}
		}

		// body:not(.page-home):not(.backgroundNav):not(.navOpen) & {
		// 	.nav-logo-dark {
		// 		display: none;
		// 		opacity: 0;
		// 	}

		// 	.nav-logo-light {
		// 		display: block;
		// 		opacity: 1;
		// 	}
		// }
	}

	.main-nav {
		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			background-color: white;
			height: 100vh;
			padding-top: calc(#{$navMobileHeight} + 20px);
			position: absolute;
			right: -100vw;
			top: 0;
			transition: right .3s ease-in;
			width: 100%;

			.navOpen & {
				right: 0;
			}
		}

		@include mediaquery(tablet-landscape) {
			//Large mobile + 
			margin-left: 80px;
			width: calc(100% - 160px);
		}
	}

	.menu-items {
		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			text-align: center;
		}

		@include mediaquery(tablet-landscape) {
			text-align: right;
		}
	}

	.menu-item {
		@include primary-bold;
		position: relative;

		@include mediaquery-max-width(tablet-landscape) {
			// Mobile only mediaquery so less overrides are necessary
			display: block;
			font-size: px-to-rem(33px);
			margin-bottom: $gap*3;
		}

		@include mediaquery(tablet-landscape) {
			display: inline-block;
			font-size: px-to-rem(16px);
			margin-left: 30px;
			opacity: 1;
			transition: opacity .3s ease-in;
		}

		a {
			color: color('brand', 'primary');
			position: relative;
			transition: color .2s;

			&:after {
				background-color: transparent;
				bottom: -4px;
				content: '';
				display: block;
				height: 3px;
				left: 50%;
				opacity: 0;
				position: absolute;
				right: 50%;
			}

			&:hover {
				&:after {
					background-color: color('secondary', 'white');
					left: 0%;
					opacity: 1;
					right: 0%;
				}
			}

			@include mediaquery(tablet-landscape) {
				color: color('secondary', 'white');

				.logoDark & {
					color: color('text', 'body');
				}
	
				.logoLight & {
					color: color('secondary', 'white');
				}
			}
		}

		&.current-menu-item {
			a:after {
				background-color: color('secondary', 'white');
				left: 0%;
				right: 0%;
			}
		}

		@include mediaquery(desktop) {
			&:hover {
				a:after {
					background-color: color('secondary', 'white');
				}
			}
		}
	}
}
