/**** Global Nav Styles ****/
//Override with custom styles in child theme
.global-header {
	height: $navHeight;

	.header-inner {
		max-width: $siteWidth;
		margin: 0 auto;
	}

	.logo-wrapper {
		display: block;
		width: 80px;
		height: 80px;

		.nav-logo {
			display: block;
		}
	}
}
