.addeventatc {
	left: 0 !important;
	position: absolute !important;
	right: 0 !important;
	text-align: center !important;

	visibility: hidden !important;

	&.visible {
		visibility: visible !important;
	}
}
