/**** Global Twitter Styles ****/

.component-twitter {
	min-height: 0;
	max-height: 1000px;

	@include mediaquery(medium) {
		min-height: 624px;
		max-height: 1000px;
	}

	&.hidePost {
		min-height: 0;
		max-height: 0;
		overflow: hidden;
	}

	.twitter-header {
		display: flex;
		align-items: center;

		img {
			width: 36px;
			height: 36px;
			margin-right: $gap;
		}

		.subheadline2 {
			margin-bottom: 6px;
		}
	}
}
