.component-reserve {
	margin-bottom: 20px;
	text-align: center;

	li {
		background: color('brand', 'accent');
		border-left: 1px solid #979797;
		color: color('brand', 'primary');
		display: inline-block;
		line-height: 1rem;
		margin: 0 -1px 1px 0;
		padding: 10px 15px;
		width: 25%;

		@include mediaquery(tablet-portrait) {
			color: color('secondary', 'white');
			width: auto;

			&:first-child {
				border-left: 0;
				border-radius: 5px 0 0 5px;
			}

			&:last-child {
				border-radius: 0 5px 5px 0;
			}
		}

		&.active,
		&:hover {
			background: #21008C;
			color: color('secondary', 'white');
		}

		&:hover {
			cursor: pointer;
		}

		a {
			@include tertiary-light;
			position: relative;
			text-transform: uppercase;
			top: 0px;

			@include mediaquery(tablet-portrait) {
				top: -30px;
			}
		}
	}
}
