.component-reserve {
	text-align: center;
    margin-bottom: 20px;

    li {
		// background: linear-gradient(360deg, rgba(255, 255, 255, .5), transparent);
		background: #FFB400;
		border-left: 1px solid #979797;
		display: inline-block;
		line-height: 1rem;
		margin: 0 -1px 0 0;
		padding: 10px 15px;
		width: 25%;

		@include mediaquery(tablet-portrait) {
			width: auto;

			&:first-child {
				border-left: 0;
				border-radius: 5px 0 0 5px;
			}

			&:last-child {
				border-radius: 0 5px 5px 0;
			}
		}

		&.active,
		&:hover {
			// background: linear-gradient(360deg, white, transparent);
			background: #21008C;
		}

		&:hover {
			cursor: pointer;
		}

    	a {
    		@include tertiary-light;
			position: relative;
			text-transform: uppercase;
			top: 0px;

			@include mediaquery(tablet-portrait) {
				top: -30px;
			}
    	}
    }
}
