/****** HERO COMPONENT ******/
.component-hero {
	position: relative;

	.hero-top {
		position: relative;
		z-index: 2;		
		@include verticalCenter;
		
		@include mediaquery-max(tablet-landscape) {
			min-height: 218px;
			
		}

		@include mediaquery(tablet-landscape) {
			min-height: 432px;
		}

		h2, .cta-link {
			position: relative;
			z-index: 4;	
		}

		.cta-link {
			display: inline-block;
			margin-top: $gap;
			cursor: pointer;
		}
	}

	.video-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		padding-bottom: 56.25%;
		min-height: 100%;

		@include mediaquery-max(tablet-landscape) {
			height: 100%;
			padding: 0;
			left: 0%;
			right: 0%;
		}

		video {
			@include mediaquery-max(tablet-landscape) {
				width: 250%;
			    height: 130%;
			    left: -125%;
			    top: -10%;
			}
		}
	}


	.playVideo {
		z-index: 10;
		overflow: initial;
		
		.video-popup {
			display: block;
			top: 0;
			left: 0;
		}
	}

	.logo-mark-wrapper {
		bottom: -24px;
		left: 0;
		position: absolute;

		@include mediaquery(tablet-landscape) {
			bottom: -28px;
		}

		.logo-mark {
			height: 82px;
			width: 70px;

			@include mediaquery(tablet-landscape) {
				height: 101px;
				width: 86px;
			}
		}
	}

	.hero-bottom {
		z-index: 1;

		@include mediaquery-max(tablet-landscape) {
			margin-top: -40px;
		}

		@include mediaquery(tablet-landscape) {
			margin-top: -49px;
		}

		p {
			@include mediaquery(tablet-landscape) {
				font-size: 18px;
			}
		}
	}

	&.component-hero-video {
		.hero-top {
			@include mediaquery(tablet-landscape) {
				height: 432px;
			}

		}
	}
}