.component-archive-feed {
  position: relative;
  width: 100%;

  .top-bar {
    display: flex;
    justify-content: space-between;
  }

  .tabs {
    display: flex;

    .tab + .tab {
      margin-left: 40px;
    }
  }

  .category-tabs {
    position: relative;
    top: 0;
    left: 0;
  }

  .pagination-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-numbers + .page-numbers {
      margin-left: 10px;
    }
  }
}