.padding-wrapper {
	.padding-inner-wrapper {
		align-items: flex-end;
		border-bottom: 1px solid darkgray;
		display: flex;
		flex-wrap: wrap;
    	padding-bottom: 14px;
		width: 100%;

		.components-panel__row {
			padding-right: 4%;
			width: 50%;

			&:nth-child(2n+1) {
				padding-right: 0;
			}
		}

		.components-panel__body-title {
			margin-bottom: 0;
			width: 100%;
		}
	}
}
