/****** IMAGE GRID COMPONENT ******/

.component-image-grid {
	.small-image {
		@include mediaquery(tablet-landscape) {
			height: 50%;
			position: relative;
			overflow:hidden;
		}

		img {
			@include mediaquery(tablet-landscape) {
				height: 100%;
				max-width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}
}