/****** SLIDER COMPONENT ******/
.component-slider {

	@include mediaquery-max-width(tablet-landscape) {
		padding: $gap;
	}

	.slider {
		position: relative;
		padding-bottom: 74%;
		height: 0;
		overflow:hidden;

		@include mediaquery-max-width(tablet-landscape) {
			margin-top: $gap;
		}

		.slider-item {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			z-index: 0;

			&.activeSlide {
				z-index: 10;
			}

			img {
				opacity: 0;
				display: block;
				height: 100%;
				width: auto;
				@include transition(opacity .5s ease-out);
			}

		}
		
		.caption-wrapper {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			max-height: 0;
			overflow: hidden;
			padding: $gap*.5 $gap*2.5 $gap*.5 $gap*.5;
			max-height: 600px;
			z-index: 10;
			min-height: 37px;

			@include mediaquery(tablet-landscape) {
				padding: 17px 60px 15px 18px;
				min-height: 47px;
			}

			p {
				max-height: 0;
				overflow: hidden;
				opacity: 0;
				z-index: 0;
				// @include transition(all 1.5s ease-out);
			}
		}

		.arrow {
			position: absolute;
			z-index: 100;
			right: 10px;
			bottom: 10px;

			@include mediaquery(tablet-landscape) {
				right: 18px;
				bottom: 15px;
			}

			&.arrow-prev {
				right: 24px;
				bottom: 11px;

				@include mediaquery(tablet-landscape) {
					right: 36px;
					bottom: 16px;
				}
			}
		}

		.activeSlide {
			img {
				opacity: 1;
				z-index: 10;
			}

			p {
				opacity: 1;
				z-index: 10;
				max-height: 600px;
			}
		}
	}
}