/****** VIDEO COMPONENT ******/
.component-video {
	padding: 0 $gap;
	margin: $gap 0;

	@include mediaquery(tablet-landscape) {
		margin: 0;
		padding: 0;
	}

	.playVideo {
		.video-popup {
			display: block;
			top: 0;
			left: 0;
		}
	}

	.component-fade {
		padding-bottom: 56.25%;
	}

	.video-overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3);
		z-index: 11;
	}
}