.component-testimonialcarousel {
	background: $white;
	padding-bottom: 75px;
	padding-top: 60px;

	@include mediaquery(tablet-landscape) {
		padding-bottom: 95px;
		padding-top: 95px;
	}

	blockquote {
		font-family: $tertiaryRegularItalic;
		font-size: 20px;
		font-style: italic;
		line-height: 1.6;

		@include mediaquery('desktop') {
			font-size: 24px;
		}
	}

	.nav {
		bottom: 0;
		top: auto;
		transform: translateY(calc(50% + 6px));

		@include mediaquery(tablet-landscape) {
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);
		}

		&.prev {
			left: 13px;

			@include mediaquery(tablet-landscape) {
				left: 53px;
			}

			&:before {
				background: url(../assets/images/arrow-slider.svg);
				background-repeat: no-repeat;
				content: '';
				display: inline-block;
				height: 56px;
				margin-right: 10px;
				transform: none;
				width: 56px;
			}
		}

		&.next {
			right: 13px;

			@include mediaquery(tablet-landscape) {
				right: 53px;
			}

			&:after {
				background: url(../assets/images/arrow-slider.svg);
				background-repeat: no-repeat;
				content: '';
				display: inline-block;
				height: 56px;
				margin-left: 10px;
				transform: scaleX(-1);
				width: 56px;
			}
		}
	}

	.component-carousel {
		height: 100%;
		margin-top: 30px;
		padding: 0 20px;

		@include mediaquery(tablet-landscape) {
			margin-top: 0;
			padding: 0;
		}

		.slides {
			height: 100%;
		}

		.slide {
			.quote-image {
				background: url(../assets/images/quotes.svg) left top no-repeat;
				margin-bottom: 32px;
				min-height: 45px;

				@include mediaquery(tablet-landscape) {
					background-position: center top;
					margin-bottom: 0;
				}
			}

			.quote-container {
				margin-bottom: 24px;

				@include mediaquery(tablet-landscape) {
					min-height: 200px;
					margin-bottom: 20px;
				}
			}

			.author-container {
				display: flex;

				.author-image {
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 50%;
					height: 48px;
					flex: 0 0 auto;
					margin-right: 14px;
					width: 48px;
				}

				.author-data {
					//flex: 1 0 auto;
				}

				.author-name {
					margin-bottom: 5px;
				}
			}
		}

		.author-dots-row {
			flex-direction: column-reverse;

			@include mediaquery(tablet-landscape) {
				flex-direction: row;
			}
		}

		.dots-component {
			margin-top: 45px;
			
			@include mediaquery(tablet-landscape) {
				margin-top: 40px;
			}

			.dot {
				position: relative;

				a {
					background-color: #A5D4F0;
					height: 4px;
					width: 4px;
				}

				&:not(.active) {
					opacity: 1;
				}

				&.active {
					a {
						background-color: #59869F;
					}

					&:before {
						border: 2px solid #A5D4F0;
						border-radius: 50%;
						content: "";
						height: 12px;
						left: 50%;
						top: 50%;
						position: absolute;
						transform: translate(-50%, -50%);
						width: 12px;
					}
				}
			}
		}
	}
}
