.component-filter {
	@include mediaquery-max(tablet-landscape) {
		margin-bottom: $gap;
	}

	@include mediaquery(tablet-landscape) {
		position: -webkit-sticky;
	    position: sticky;
	    top: 66px;
	}

	.filter-items {
		border-top: 1px solid color('standard', 'gray');
		padding-top: $gap*.75;
		padding-bottom: $gap*.75;

		@include mediaquery-max(tablet-landscape) {
			max-height: 0;
			overflow: hidden;
			padding: 0;
			margin-bottom: $gap*.75;
		}

		&:last-child {
			padding-bottom: 0;
		}

		.months {
			margin-left: 10px;
		}
	}

	.openFilter {
		.filter-items {
			@include mediaquery-max(tablet-landscape) {
				max-height: 1000px;
				padding-top: $gap*.75;
			}
		}

		&.filter-item-parent {
			max-height: 1000px;
		}
	}

	.filter-header {
		@include verticalCenter;
		@include flexbox-justify-content(space-between)
	}

	.filter-set {
		margin-bottom: $gap;
	
		&:last-child {
			margin-bottom: 0;
		}
	}

}

.component-archive-feed  {
	@include mediaquery-max(tablet-landscape) {
		padding-right: $gap;
		padding-left: $gap;
	}

	.archive-wrapper {
		
	}
}